<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
<h4 class="subtitle-up"><%= @sales_order_line_item.stock.try(:name) %></h4>
<p class="text-muted"><%= @sales_order_line_item.bar_code %></p>
<hr>
<%= simple_form_for @sales_return, url: :store_front_module_sales_order_line_item_sales_returns do |f| %>
<%= f.input :quantity, label: 'Quantity Returned', input_html: { value: @sales_order_line_item.quantity } %>
<%= f.input :sales_order_line_item_id, input_html: { value: @sales_order_line_item.id }, as: :hidden %>
<%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>

<%= f.submit "Return Quantity", class: 'btn btn-danger float-right' %>
<% end %>
