<div class="tab-pane <%= 'active' if current_page? supplier_account_index_path(@supplier) %>" id="supplier-account">
    <div class="row">
      <div class="col-md-3">
        <h4><%= number_to_currency @supplier.accounts_payable %></h4>
        <small> ACCOUNTS PAYABLE</small>
      </div>
      <div class="col-md-3">
        <h4><%= number_to_currency @supplier.payments_total %></h4>
        <small> PAYMENTS</small>
      </div>
      <div class="col-md-3">
        <h4 class="text-danger"><%= number_to_currency @supplier.balance_total %></h4>
        <small class="text-danger"> BALANCE</small>
      </div>
      <div class="col-md-3">
        <h4></h4>
        <%= link_to 'New Payment', new_supplier_payment_path(@supplier), class: "btn btn-primary" %>
      </div>
    </div>
    <hr>
    <h4 class="title"> Payments History </h4>

      <% @supplier.payments.each do |payment| %>
        <div class="row">
          <div class="col-md-6">
            <%= payment.description %><br>
            <small class="text-muted"><i class="fa fa-clock-o"></i> <%= payment.entry_date.strftime("%B %e, %Y %I:%M %p") %></small>
          </div>
          <div class="col-md-3">
            <h4><%= number_to_currency payment.total %></h4>
          </div>
          <div class="col-md-3">

          <%= image_tag(payment.recorder.avatar, class: "img-circle", height: 35, width: 35) %>
              <%= payment.recorder_name %>
</div>
        </div>
        <br>
        <% end %>
  </div>
</div>
