<div class="tab-pane <%= 'active' if current_page? supplier_vouchers_path(@supplier) %>" id='supplier-vouchers'>
  <%= link_to "New Voucher", new_supplier_voucher_amount_path(@supplier), class: "btn btn-primary" %>
  <hr>
  <div class="table table-responsive">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th>Reference Number</th>
          <th>Description</th>
          <th>Prepared By</th>
          <th>Payable Amount</th>
          <th>Disbursement</th>
        </tr>
      </thead>
      <tbody>
        <% @vouchers.each do |voucher| %>
          <tr>
            <td><%= voucher.date.strftime("%B %e, %Y") %></td>
            <td><%= voucher.reference_number %></td>
            <td><%= voucher.description %></td>
            <td><%= voucher.preparer_name %></td>
            <td><%= number_to_currency voucher.payable_amount %></td>
            <td>
              <% if voucher.disbursed? %>
                <%#= link_to 'Disburse', new_voucher_disbursement_path(voucher), class: "btn btn-primary btm-sm" %>
              <%# else %>
                <span class="badge bg-success"> Disbursed </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
