 <section class="content-header">
      <h1>
        <%= @business.name %>
      </h1>
    </section>
    <br>
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-footer">
        <p>Sales for Today <%= Time.zone.now.strftime("%B %e, %Y") %></p>
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="description-block border-right">
              <span class="description-percentage text-<%= @sales_for_today.percentage_text_color %>"><i class="fa fa-caret-<%= @sales_for_today.caret_status %>"></i> 17%</span>
              <h5 class="description-header"><%= number_to_currency @sales_for_today.sum(&:total_cost) %></h5>
              <span class="description-text">TOTAL SALES</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-3 col-xs-6">
            <div class="description-block border-right">
              <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
              <h5 class="description-header"><%= number_to_currency @sales_for_today.sum(&:cost_of_goods_sold) %></h5>
              <span class="description-text">TOTAL COGS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-3 col-xs-6">
            <div class="description-block border-right">
              <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
              <h5 class="description-header"><%= number_to_currency @sales_for_today.sum(&:income) %></h5>
              <span class="description-text">TOTAL PROFIT</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-3 col-xs-6">
            <div class="description-block">
              <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
              <h5 class="description-header">1200</h5>
              <span class="description-text">GOAL COMPLETIONS</span>
            </div>
            <!-- /.description-block -->
          </div>
        </div>
        <!-- /.row -->
      </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title"> Latest Sales </h3>
        </div>
        <div class="box-body">
          <% @sales_for_today.limit(10).each do |order| %>
            <div class="row">
              <div class="col-md-2">
                <%= image_tag(order.customer.avatar.url(:medium), class: "img-circle", height: 40, width: 40) %>
              </div>
              <div class="col-md-6">
                <b><%= order.commercial_document.try(:name) %></b><br>
                <i class="fa fa-clock-o"></i> <%= order.date.strftime("%b %e, %I:%M %p") %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency order.total_cost %><br>
                <span class="badge bg-green"><%= order.line_items.count %> Items</span>
              </div>
            </div>
            <br>
          <% end %>
          <center><%= link_to 'View All', store_front_module_sales_orders_path %></center>
      </div>
    </div>
  </div>
</div>

