 <section class="content-header">
      <h1>
        <%= @business.name %>
      </h1>
    </section>
    <br>

  <div class="row">
    <div class="col-md-6">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="subtitle-up"> Latest Sales </h3>
        </div>
        <div class="card-body">
          <% @sales_for_today.limit(10).each do |order| %>
            <%= link_to store_front_module_sales_order_path(order) do  %>
            <div class="row">
              <div class="col-md-2">
                <% if order.commercial_document.present? && order.commercial_document.avatar.present? %>
                  <%= image_tag(order.commercial_document.avatar, class: "img-circle", height: 40, width: 40) %>
                <% end %>
              </div>
              <div class="col-md-6">
                <b><%= order.commercial_document.try(:name) %></b><br>
                <i class="fa fa-clock-o"></i> <%= order.date.strftime("%b %e, %I:%M %p") %>
              </div>
              <div class="col-md-3">
                <%= number_to_currency order.total_cost %><br>
                <span class="badge bg-green"><%= order.line_items.count %> Items</span>
              </div>
            </div>
            <br>
            <% end %>
          <% end %>
          <center><%= link_to 'View All', store_front_module_sales_orders_path %></center>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-8">
      <div class="card card-solid">
        <div class="card-header">
          <h3 class="subtitle-up"> Employees </h3>
        </div>
        <div class="card-body">
          <% @employees.each do |employee| %>
            <%= link_to admin_employee_path(employee) do %>
              <div class="row">
                <div class="col-md-1">
                  <%= image_tag(employee.avatar, height: 50, width: 50, class: "img-circle") %>
                </div>
                <div class="col-md-4">
                  <%= employee.full_name %><br>
                  <small><%= employee.role.titleize %></small>
                </div>
                <div class="col-md-3">
                  <% if employee.cash_on_hand_account.present? %>
                    <span class="text-primary"><%= number_to_currency employee.default_cash_on_hand_account_balance  %> </span><br>
                  <small>CASH ON HAND</small>

                  <% end %>
                </div>
                <div class="col-md-3">
                  <% if employee.sales_clerk? %>
                    <%= number_to_currency employee.sales_orders.ordered_on(from_date: Date.today, to_date: Date.today).map{|a| a.total_cost}.compact.sum %><br>
                    <small>TOTAL SALES</small>
                  <% elsif employee.technician? %>
                  <%= number_to_currency employee.work_orders.released_on(from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month).sum(&:incentivized_charges) %><br>
                  <small>TOTAL SERVICE CHARGES</small>
                  <% end %>
                </div>
              </div>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
