<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <center>
          <% if @order.commercial_document.respond_to?(:avatar) %>
          <%= image_tag(@order.commercial_document.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %><br><br>
          <% end %>
        <h3 class="box-title"><%= @order.supplier_name.try(:upcase) %></h3>
        </center>
      </div>
      <hr>
      <div class="box-body">
        <% if current_user.proprietor? %>
          <%= link_to 'Delete', store_front_module_purchase_order_cancellations_path(@order), data: { confirm: 'Are you sure you want to cancel this order?' }, method: :create, class: 'btn btn-danger' %>
        <% end%>
         <span class="pull-right"><%= link_to 'Print(PDF)', order_path(@order, format: 'pdf'), class: "btn btn-default btn-sm" %></span>
        <i class="icon-calendar"></i> <%= @order.date.strftime("%B %e, %Y") %><br>
        <p class="text-black"> Reference Number: <%= @order.reference_number %></p>
        <hr>
              <% @line_items.each do |line_item| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= line_item.quantity %> <%= line_item.unit_code %>
                  </div>
                  <div class="col-md-4">
                    <%=line_item.product_name %><br>
                    <small class="text-muted"><%= line_item.bar_code %></small>
                  </div>
                  <div class="col-md-2">
                    <span class="pull-right"><%= number_to_currency line_item.total_cost %></span>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
                <hr>
                <% end %>
                <center><%= will_paginate @line_items %></center>
