<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <h4 class="box-title"> Unit of Measurement Details</h4>
      </div>
      <div class="box-body">
        <%= simple_form_for @unit_of_measurement, url: :store_front_module_unit_of_measurement do |f| %>
          <%= f.error_notification %>
          <%= f.input :unit_code %>
          <%= f.input :description %>
          <%= f.input :quantity %>
          <%= f.input :base_measurement, as: :boolean %>
          <%= f.input :conversion_quantity %>
          <%= f.input :product_id, input_html: { value: @unit_of_measurement.product.id }, as: :hidden %>
          <%= f.submit "Update" %>
        <% end %>
      </div>
    </div>
  </div>
