<div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h3 class="title-up"> Repairs Section </h3>
          </div>
          <div class="col-md-6">
            <%=form_tag computer_repair_section_dashboard_index_path, method: :get, id: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search Repairs...", type: "search" %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                    <i class="fa fa-search"></i> Search Repair
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-2">
            <%= link_to new_computer_repair_section_work_order_path, title: 'New Work Order' do %>
              <span class="btn btn-primary float-right" data-toggle="tooltip" title="New Work Order" data-placement="top"><i class="fa fa-plus-circle"></i> New Repair</span>
            <% end %>
          </div>

        </div>
        <br>
        <% User.technician.each do |technician| %>
          <% if current_user.proprietor? %>
            <%=link_to repair_services_per_employee_dashboards_path(user_id: technician.id) do %>
              <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                <%= image_tag(technician.avatar, class: "img-circle", height: 45, width: 45) %> &nbsp;
              </span>
            <% end %>
          <% else %>
          <%=link_to employee_repairs_path(employee_id: technician.id) do %>
            <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
              <%= image_tag(technician.avatar, class: "img-circle", height: 45, width: 45) %> &nbsp;
            </span>
          <% end %>
        <% end %>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-6 border-right">

            <p><small class="condensed-text">VIEW PER SECTION</small></p>
             <% Section.all.each do |section| %>
              <%=link_to computer_repair_section_dashboard_index_path(section_id: section.id) do %>
                <span data-toggle="tooltip" title="<%=section.name %>" data-placement="top">
                  <%= section.name %>
                </span>
              <% end %>
            <% end %>

          </div>
          <div class="col-md-3 border-right">
            <p><small class="condensed-text">VIEW PER DATE</small></p>
            <%= link_to 'This Day', computer_repair_section_dashboard_index_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day) %>
            <%= link_to 'This Week', computer_repair_section_dashboard_index_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week) %>
            <%= link_to 'This Month', computer_repair_section_dashboard_index_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month) %>


          </div>

        </div>
        <br>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <small class="text-muted"> RECEIVED </small>
            <h3 class="title-up"> <%= WorkOrder.received.size %></h3>
          </div>
        </div>

          <% @work_orders.received.each do |work_order| %>
          <div class="card card-outline card-secondary">
            <div class="card-body">
              <%= render 'computer_repair_section/work_order', work_order: work_order %>
            </div>
          </div>
          <% end %>
          <center><%==pagy_bootstrap_nav(@pagy) %></center>
        </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <small class="text-muted"> WORK IN PROGRESS </small>
            <h3 class="title-up"> <%= WorkOrder.work_in_progress.size %></h3>
          </div>
        </div>

          <% @work_orders.work_in_progress.each do |work_order| %>
          <div class="card card-outline card-danger">
          <div class="card-body">
            <%= render 'computer_repair_section/work_order', work_order: work_order %>

        </div>
      </div>
          <% end %>
          <center><%==pagy_bootstrap_nav(@pagy)%></center>

      </div>
      <div class="col-md-3 ">
        <div class="card">
          <div class="card-body">
            <small class="text-muted"> DONE / RTO </small>
            <h3 class="title-up"> <%= WorkOrder.done_and_rto.size %></h3>
          </div>
        </div>
          <% @work_orders.done_and_rto.each do |work_order| %>
          <div class="card card-outline card-warning">
           <div class="card-body">
          <%= render 'computer_repair_section/work_order', work_order: work_order %>
        </div>
      </div>
          <% end %>
          <center><%==pagy_bootstrap_nav(@pagy) %></center>

      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <small class="text-muted"> RELEASED </small>
            <h3 class="title-up"> <%= WorkOrder.released.size %></h3>
          </div>
        </div>
            <% @work_orders.released.each do |work_order| %>
            <div class="card card-outline card-success">

              <div class="card-body">
                <%= render 'computer_repair_section/work_order', work_order: work_order %>

              </div>
            </div>
              <% end %>
              <center><%==pagy_bootstrap_nav(@pagy) %></center>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

</script>
