<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-body">
        <div class="row">
          <div class="col-md-6 border-right">
            <% if current_user.proprietor? %>
              <p><small class="condensed-text">VIEW PER TECHNICIAN</small></p>
              <% User.technician.each do |technician| %>
                <%=link_to repair_services_per_employee_dashboards_path(user_id: technician.id) do %>
                  <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                    <%= image_tag(technician.avatar.url(:medium), class: "img-circle", height: 45, width: 45) %> &nbsp;
                  </span>
                <% end %>
              <% end %>
              <br>
              <br>
            <% end %>
            <p><small class="condensed-text">VIEW PER SECTION</small></p>
             <% Section.all.each do |section| %>
              <%=link_to computer_repair_section_dashboard_index_path(section_id: section.id) do %>
                <span data-toggle="tooltip" title="<%=section.name %>" data-placement="top">
                  <%= section.name %>
                </span>
              <% end %>
            <% end %>

          </div>
          <div class="col-md-3 border-right">
            <p><small class="condensed-text">VIEW PER DATE</small></p>
            <%= link_to 'This Day', computer_repair_section_dashboard_index_path(from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day) %>
            <%= link_to 'This Week', computer_repair_section_dashboard_index_path(from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week) %>
            <%= link_to 'This Month', computer_repair_section_dashboard_index_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month) %>


          </div>
          <div class="col-md-3">
            <%=form_tag computer_repair_section_dashboard_index_path, method: :get, id: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search Repairs...", type: "search" %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn") do %>
                    <i class="icon-magnifier"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 border-right">
        <div class="box box-solid">
          <div class="box-header">
            <div class="row">
              <div class="col-md-8">
                <h4 class="title condensed-text"><span class="label label-default"><%= WorkOrder.received.count %></span> &nbsp; RECEIVED </h4>
              </div>
              <div class="col-md-4">
                <%= link_to new_computer_repair_section_work_order_path do %>
                  <span class="text-primary pull-right" data-toggle="tooltip" title="New Work Order" data-placement="top"><i class="fa fa-plus-circle fa-2x"></i></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr>
          <% @work_orders.received.each do |work_order| %>
            <%=link_to computer_repair_section_work_order_path(work_order) do %>
              <div class="box box-solid">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-2">
                      <span data-toggle="tooltip" title="<%=work_order.technicians.first.first_name %>" data-placement="top">
                        <%= image_tag(work_order.technicians.first.avatar.url(:medium), class: "img-circle", height: 35, width: 35) %>
                      </span>
                    </div>
                    <div class="col-md-7">
                      <span class="text-black condensed-text"><b><%= work_order.product_unit.description.try(:upcase) %></b></span><br>
                      <span class='text-danger'><%= work_order.reported_problem %></span><br>
                      <span class="text-black"> <%= work_order.customer_full_name %></span><br>
                      <span class='text-black'><small><%= work_order.created_at.strftime("%b %e, %l:%M %p") %></small></span><br>
                      <small>CI #: <%= work_order.charge_invoice_number %></small>
                    </div>
                    <div class="col-md-2">
                      <small class="text-black"><b><%=work_order.formatted_service_number %></b></small>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            <% end %>
          <% end %>
          <center><%=will_paginate @work_orders,  :params => {:controller => "computer_repair_section/dashboard", action: "index" } %></center>
        </div>

      <div class="col-md-3 border-left">
        <div class="box box-solid">
        <div class="box-header">
          <h4 class="title condensed-text"> <span class="label label-warning"><%= WorkOrder.work_in_progress.count %> </span> &nbsp; WORK IN PROGRESS </h4>
        </div>
        <hr>
        <div class="box-body">
          <% @work_orders.work_in_progress.each do |work_order| %>
          <%=link_to computer_repair_section_work_order_path(work_order) do %>
           <div class="row">
              <div class="col-md-9">
                <span class="text-black condensed-text"><b><%= work_order.product_unit.description.try(:upcase) %></b></span><br>
                <%= work_order.customer.full_name %><br>
                <span class="text-black"><%= distance_of_time_in_words(work_order.created_at, Time.zone.now) %></span><br>
                <small>CI #: <%= work_order.charge_invoice_number %></small><br><br>
                <% work_order.technicians.each do |technician| %>
                  <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                    <%= image_tag(technician.avatar.url(:medium), class: "img-circle", height: 35, width: 35) %> &nbsp;
                  </span>
                <% end %>

              </div>
              <div class="col-md-2">
                <small class="text-black"><b><%=work_order.formatted_service_number %></b></small>
              </div>
            </div>
            <hr>
          <% end %>
          <% end %>
          <center><%=will_paginate @work_orders,  :params => {:controller => "computer_repair_section/dashboard", action: "index" } %></center>
          </div>
        </div>
      </div>
      <div class="col-md-3 border-right">
        <div class="box box-solid">
        <div class="box-header">
          <h4 class="box-title"> <span class="label label-success"><%= WorkOrder.done.count %> </span> &nbsp; Done </h4>
        </div>
         <div class="box-body">
          <% @work_orders.done.each do |work_order| %>
          <%=link_to computer_repair_section_work_order_path(work_order) do %>
           <div class="row">
              <div class="col-md-9">
                <span class="text-black condensed-text"><b><%= work_order.product_unit.description.try(:upcase) %></b></span><br>
                <%= work_order.customer.full_name %><br>
                <span class="text-black"><%= distance_of_time_in_words(work_order.created_at, Time.zone.now) %></span><br>
                <small>CI #: <%= work_order.charge_invoice_number %></small><br><br>
                <% work_order.technicians.each do |technician| %>
                  <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                    <%= image_tag(technician.avatar.url(:medium), class: "img-circle", height: 35, width: 35) %> &nbsp;
                  </span>
                <% end %>
              </div>
              <div class="col-md-2">
                <small class="text-black"><b><%=work_order.formatted_service_number %></b></small>
              </div>
            </div>
            <hr>
          <% end %>
          <% end %>
          <center><%=will_paginate @work_orders,  :params => {:controller => "computer_repair_section/dashboard", action: "index" } %></center>
          </div>
        </div>
      </div>
      <div class="col-md-3 border-right">
        <div class="box box-solid">
          <div class="box-header">
            <h4 class="box-title"> Released </h4>
          </div>
          <div class="box-body">
            <% @work_orders.released.each do |work_order| %>
              <%=link_to computer_repair_section_work_order_path(work_order) do %>
                  <div class="row">
                    <div class="col-md-9">
                    <p class="text-black condensed-text"><%= work_order.product_unit.description %></p>
                    <%= work_order.customer.full_name %><br>
                    <span class='text-black'><small><%= work_order.updated_at.strftime("%b %e, %l:%M %p") %></small></span><br><br>
                     <small>CI #: <%= work_order.charge_invoice_number %></small><br><br>
                    <% work_order.technicians.each do |technician| %>
                      <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                        <%= image_tag(technician.avatar.url(:medium), class: "img-circle", height: 35, width: 35) %> &nbsp;
                      </span>
                    <% end %>
                    </div>
                    <div class="col-md-2">
                      <small class="text-black"><b><%=work_order.formatted_service_number %></b></small>
                    </div>
                  </div>
                  <br>
                <% end %>
              <% end %>
              <center><%=will_paginate @work_orders,  renderer: WillPaginateHelper::RepairDashboardLinkRenderer, format: :html  %></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

</script>
