<div class="tab-pane" id="employee-orders">
  <div class="content">
    <p class="category">Generate report for sales</p><br>
          <%= form_tag({:action => "index", controller: "reports/sales", format: 'pdf'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div clasps="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                    <%=text_field_tag :user_id,  @employee.id, hidden: true %>
                  </div>
              </div>
                <div class="col-md-1">
                  <button type="submit" class="btn btn-success"> Generate</button>
                </div>
              </div>
            <% end %>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>

          <th>Date</th>
          <th>Customer</th>
          <th>Items</th>
          <th>Total Cost</th>
        </thead>
        <tbody>
          <% @orders.order(date: :desc).each do |order| %>
            <tr>
                                      <% if order.line_items.count > 0 || order.description.present? %>
                                        <td><%=link_to order.date.strftime("%B %e, %Y"), store_front_module_sales_order_path(order) %></td>
                                        <td><%= order.commercial_document.try(:name).try(:titleize) %>
                                          <% if order.reference_number.present? %>
                                            <br>
                                            <b>#<%=order.reference_number %></b>
                                          <% end %>
                                        </td>
                                        <td>
                                          <%= order.description %>
                                          <% order.line_items.each do |line_item|  %>
                                            <div class="row">
                                              <div class="col-md-9">
                                                <%= line_item.name %><br>
                                                <small><i><%= line_item.bar_code %></i></small>
                                              </div>
                                              <div class="col-md-1">
                                                <span><%= line_item.quantity %></span>
                                              </div>
                                            </div>
                                            <br>
                                          <% end %>
                                        </td>
                                        <td></td>
                                        <td><%= number_to_currency order.discount_amount%></td>
                                        <td></td>
                                        <td><%= order.employee.try(:full_name) %></td>
                                      <% end %>
                                      </tr>
          <% end %>
        </tbody>
      </table>
      <center><%= will_paginate @orders %></center>
    </div>
  </div>
</div>
