<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Inventories</h3><br>
      </div>

      <div class="box-body">
        <%=form_tag inventories_path, method: :get, id: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search product...", type: "search" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                 Browse Inventories
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Date Delivered</th>
                <th>Stock</th>
                <th> Barcode </th>
                <th>QTY</th>
                <th> Sales </th>
                <th> Transfers </th>
                <th> Internal Uses </th>
                <th>In Stock</th>
              </tr>
            </thead>
            <tbody>
              <% @stocks.each do |stock| %>
                <tr>
                  <td><%= stock.purchase_order_date.try(:strftime, ("%B %e, %Y")) %></td>
                  <td><%= link_to stock.name, store_front_module_stock_path(stock) %></td>
                  <td><%= stock.barcode %></td>
                  <td><%= stock.purchase_quantity %></td>
                  <td><%= stock.sales.total %></td>
                  <td><%= stock.stock_transfers.total %></td>
                  <td><%= stock.internal_uses.total %></td>
                  <td><%= stock.balance %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <center><%==pagy_nav(@pagy) %></center>
        </div>
      </div>
    </div>
  </div>
</div>
