<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Inventories</h3><br>
        <span class="text-muted"> List of delivered inventories </span>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Available QTY</th>
              </tr>
            </thead>
            <tbody>
              <% @inventories.each do |inventory| %>
                <tr>
                  <td><%= inventory.created_at.strftime("%B %e, %Y") %></td>
                  <td><%= inventory.name %></td>
                  <td><%= inventory.quantity %></td>
                  <td><%= inventory.available_quantity %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <center><%= will_paginate @inventories %></center>
        </div>
      </div>
    </div>
  </div>
</div>
