<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Inventories</h3><br>
        <span class="text-muted"> List of delivered inventories </span>
        <%=form_tag inventories_path, method: :get, id: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search product...", type: "search" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                 Browse Inventories
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Date Delivered</th>
                <th>Product</th>
                <th> Barcode </th>
                <th>Quantity</th>
                <th>Available QTY</th>
              </tr>
            </thead>
            <tbody>
              <% @inventories.each do |inventory| %>
                <tr>
                  <td><%= inventory.created_at.strftime("%B %e, %Y") %></td>
                  <td><%= link_to inventory.name, store_front_module_purchase_order_line_item_path(inventory) %></td>
                  <td><%= inventory.barcode %></td>
                  <td><%= inventory.purchases.total %></td>
                  <td><%= inventory.balance %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <center><%==pagy_nav(@pagy) %></center>
        </div>
      </div>
    </div>
  </div>
</div>
