<div class="content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card">
        <div class="content">
          <div class="header">
            <h4 class="title condensed-text"> PAYMENT DETAILS </h4>
          </div>
        <div class="content">
        <%= simple_form_for @entry, url: :computer_repair_section_work_order_payments do |f| %>
          <%= f.error_notification %>
          <%= f.input :entry_date, label: 'Date', as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :work_order_id, input_html: { value: @work_order.id }, as: :hidden %>
          <%= f.input :user_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :reference_number %>
          <%= f.input :description, input_html: { value: "Payment of Work Order" } %>
          <%= f.input :amount, input_html: { value: @work_order.balance_total }, as: :string %>
          <%= f.input :discount_amount, label: "Discount",  as: :string, input_html: {value: 0 } %>
          <%= f.input :debit_account_id, input_html: { value: current_user.cash_on_hand_account.id }, as: :hidden %>
          <%= f.input :credit_account_id, input_html: { value: AccountingModule::Account.find_by(name: "Accounts Receivables Trade - Current").id }, as: :hidden %>

          <%= f.submit "Save Payment", class: "btn btn-primary pull-right" %>
          <br>
          <br>
        <% end %>
