<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-2">
          <center><%= image_tag(@employee.avatar, height: 60, width: 60, class: "img-circle") %> </center>
        </div>
        <div class="col-md-10">
          <h4 class="title-up"><%= @employee.full_name.try(:upcase) %></h4>
          <span class="text-muted"><%= @employee.role.titleize %></span>
        </div>
      </div>
    </div>
    <div class="card-body">
    <ul class="nav nav-pills nav-pills-underline">
      <li class="nav-item">
        <%= link_to "Info", employee_path(@employee), class: "nav-link  #{ 'active' if current_page?(employee_path(@employee)) }" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sales", employee_sales_path(@employee), class: "nav-link #{ 'active' if current_page?(employee_sales_path(@employee)) }" %>
      </li>
       <li class="nav-item">
        <%= link_to "Reports", employee_reports_path(@employee), class: "nav-link #{ 'active' if current_page?(employee_reports_path(@employee)) }" %>
      </li>
      <li class="nav-item">
        <%= link_to "Journal Entries", employee_entries_path(@employee), class: "nav-link #{ 'active' if current_page?(employee_entries_path(@employee)) }" %>
      </li>
    </ul>
    <br>
        <% if current_page? employee_path(@employee) %>
          <%= render 'employees/partials/info' %>
        <% end %>
        <% if current_page? employee_sales_path(@employee) %>
          <%= render 'employees/partials/orders' %>
        <% end %>
         <% if current_page? employee_entries_path(@employee) %>
           <%=render 'employees/partials/entries' %>
        <% end %>
        <% if current_page? employee_reports_path(@employee) %>
          <%= render 'employees/partials/reports' %>
        <% end %>
      </div>
    </div>
  </div>
