<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <center><%= image_tag(@employee.avatar, height: 60, width: 60, class: "img-circle") %> </center>
          <h4 class="title-up"><center><%= @employee.full_name.try(:upcase) %> </center></h4>
          <span class="text-muted"><center><%= @employee.role.titleize %></center></span>
        </div>
        <div class="card-body">
        <ul class="nav nav-pills nav-pills-underline">
          <li class="nav-item">
            <%= link_to "Info", employee_path(@employee), class: "nav-link  #{ 'active' if current_page?(employee_path(@employee)) }" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sales", employee_sales_path(@employee), class: "nav-link #{ 'active' if current_page?(employee_sales_path(@employee)) }" %>
          </li>
           <li class="nav-item">
            <%= link_to "Reports", employee_reports_path(@employee), class: "nav-link #{ 'active' if current_page?(employee_reports_path(@employee)) }" %>
          </li>
          <li class="nav-item">
            <%= link_to "Journal Entries", employee_entries_path(@employee), class: "nav-link #{ 'active' if current_page?(employee_entries_path(@employee)) }" %>
          </li>
        </ul>
            <% if current_page? employee_path(@employee) %>
              <%= render 'employees/partials/info' %>
            <% end %>
            <% if current_page? employee_sales_path(@employee) %>
              <%= render 'employees/partials/orders' %>
            <% end %>
             <% if current_page? employee_entries_path(@employee) %>
               <%=render 'employees/partials/entries' %>
            <% end %>
            <% if current_page? employee_reports_path(@employee) %>
              <%= render 'employees/partials/reports' %>
            <% end %>
