<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-solid">
      <div class="card-header bg-gray">
        <h4 class="subtitle-up"> Unit of Measurement Details</h4>
      </div>
      <div class="card-body">
        <%= simple_form_for @unit, url: :product_unit_of_measurements do |f| %>
          <%= f.error_notification %>
          <%= f.input :unit_code %>
          <%= f.input :description %>
          <%= f.input :quantity %>
          <%= f.input :base_measurement, as: :boolean %>
          <%= f.input :conversion_quantity %>
          <%= f.input :selling_price %>
          <%= f.input :product_id, input_html: { value: @product.id }, as: :hidden %>
          <%= f.submit "Save" %>
        <% end %>
      </div>
    </div>
  </div>
