<p>Sales for Today (<%= Time.zone.now.strftime("%b %e, %Y") %>)</p>
<div class="row">
  <div class="col-md-4">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="icon-basket-loaded"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">ORDER</span>
        <span class="info-box-number"><%= @sales_for_today.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="icon-basket-loaded"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">LINE ITEMS</span>
        <span class="info-box-number"><%= @sales_for_today.map{|a| a.line_items.count}.sum%></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-box">
      <span class="info-box-icon bg-blue"><i class="icon-people"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">CUSTOMERS</span>
        <span class="info-box-number"><%= @sales_for_today.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
</div>
  <div class="box box-solid">

      <div class="box-body">
        <hr>
        <% @orders.each do |order| %>
          <%= link_to store_front_module_sales_order_path(order) do %>
            <div class="row text-muted">
              <div class="col-md-1">
                <% if order.commercial_document.present? && order.commercial_document.avatar.present? %>
                  <%= image_tag(order.customer.avatar.url(:medium), class: "img-circle", height: 45, width: 45) %>
                <% end %>
              </div>
              <div class="col-md-4">
                <b class="text-primary"><%= order.customer_name %></b><br>
                <small class="text-muted"><i class="fa fa-clock-o"></i> <%= order.date.strftime("%b %e, %Y %I:%M %p") %></small>
              </div>
              <div class="col-md-2">
                <span class="badge bg-gray"><%= order.line_items.count %> ITEMS </span>
              </div>
              <div class="col-md-3">
                <h4><%= number_to_currency order.total_cost %></h4>
              </div>

            </div>
            <hr>
          <% end %>
        <% end %>
        <center><%= will_paginate @orders %></center>
      </div>
    </div>
  </div>
</div>

