
<div class="row">
  <div class="col-md-4">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="icon-basket-loaded"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">ORDER</span>
        <span class="info-box-number"><%= @sales_for_today.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="icon-basket-loaded"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">LINE ITEMS</span>
        <span class="info-box-number"><%= @sales_for_today.map{|a| a.line_items.count}.sum%></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-box">
      <span class="info-box-icon bg-blue"><i class="fa fa-line-chart"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">INCOME</span>
        <span class="info-box-number"><%= @sales_for_today.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-footer">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-<%= @sales_for_today.percentage_text_color %>"><i class="fa fa-caret-<%= @sales_for_today.caret_status %>"></i> 17%</span>
                    <h5 class="description-header"><%= number_to_currency @sales_for_today.sum(&:total_cost) %></h5>
                    <span class="description-text">TOTAL SALES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                    <h5 class="description-header"><%= number_to_currency @sales_for_today.sum(&:cost_of_goods_sold) %></h5>
                    <span class="description-text">TOTAL COGS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                    <h5 class="description-header"><%= number_to_currency @sales_for_today.sum(&:income) %></h5>
                    <span class="description-text">TOTAL PROFIT</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->

      <div class="box-body">
        <hr>
        <% @orders.each do |order| %>
          <%= link_to store_front_module_sales_order_path(order) do %>
            <div class="row text-muted">
              <div class="col-md-1">
                <%= image_tag(order.customer.avatar.url(:medium), class: "img-circle", height: 45, width: 45) %>
              </div>
              <div class="col-md-4">
                <b class="text-primary"><%= order.customer_name %></b><br>
                <small class="text-muted"><i class="fa fa-clock-o"></i> <%= order.date.strftime("%b %e, %Y %I:%M %p") %></small>
              </div>
              <div class="col-md-2">
                <span class="badge bg-gray"><%= order.line_items.count %> ITEMS </span>
              </div>
              <div class="col-md-3">
                <h4><%= number_to_currency order.total_cost %></h4>
              </div>

            </div>
            <hr>
          <% end %>
        <% end %>
        <center><%= will_paginate @orders %></center>
      </div>
    </div>
  </div>
</div>

