<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <center>
          <% if @order.commercial_document.avatar.present? %>
          <%= image_tag(@order.commercial_document.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %><br><br>
          <% end %>
        <h3 class="box-title"><%= @order.customer.try(:full_name).try(:upcase) %></h3>
        </center>
      </div>
      <hr>
      <div class="box-body">
         <span class="pull-right"><%= link_to 'Print(PDF)', order_path(@order, format: 'pdf'), class: "btn btn-default btn-sm" %></span>

        <i class="icon-calendar"></i> <%= @order.date.strftime("%B %e, %Y") %><br>
        <p class="text-black"> Reference Number: <%= @order.reference_number %></p>
        <p class="text-black"> Description: <%= @order.description %></p>

        <hr>
        <%= link_to 'Add Additional Items', new_store_front_module_sales_order_additional_line_item_path(@order), class: "btn btn-danger" %>
        <%= link_to "Add Other Sales Item", new_store_front_module_sales_order_additional_other_sales_item_path(@order), class: "btn btn-danger" %>
        <br>
        <br>
              <% @order.line_items.each do |line_item| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= line_item.quantity %> <%= line_item.try(:unit_code) %>
                  </div>
                  <div class="col-md-4">
                    <%=line_item.product_name %><br>
                    <small class="text-muted"><%= line_item.bar_code %></small>
                  </div>
                  <div class="col-md-2">
                    <span class="pull-right"><%= number_to_currency line_item.total_cost %></span>
                  </div>
                  <div class="col-md-3">
                    <%= line_item.date.try(:strftime, "%B %e, %Y") %>

                  </div>
                </div>
                <hr>
                <% end %>
                <h4>Other Items </h4>
                <% @order.other_sales_line_items.each do |line_item| %>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                      <%= line_item.description %><br>
                      <small class="text-muted">#<%= line_item.reference_number %></small>
                    </div>
                    <div class="col-md-2">
                      <%= number_to_currency line_item.amount %>
                    </div>
                    <div class="col-md-3">
                      <%= line_item.date.try(:strftime, "%B %e, %Y") %>

                    </div>
                  </div>
                  <br>
                <% end %>
                <% if @order.credit? %>
                  <h4>Payments History</h4><br>
                  <% @order.payment_entries.each do |payment| %>
                    <div class="row">
                      <div class="col-md-2">
                        <%= image_tag(payment.recorder.avatar.url(:small), class: "img-circle", height: 40, width: 40) %>
                      </div>
                      <div class="col-md-6">
                        <b><%= payment.recorder.try(:name) %></b><br>
                        <span class="text-muted"><%= payment.description %></span><br>
                        <span class="text-muted"><i class="fa fa-clock-o"></i> <%= payment.entry_date.strftime("%b %e, %Y %I:%M %p") %></span>
                      </div>
                      <div class="col-md-3">
                        <b class="pull-right"><%= number_to_currency payment.amount %></b>
                      </div>
                    </div>
                    <br>
                  <% end %>
                <% end %>
                <hr>
                <%if current_user.proprietor? %>
                <span class="text-red">
                  Deleting this Order will remove it from Sales orders. The accounting entry will be deleted from records. In short, records for this order will be deleted forever.
                </span>
                <br>

          <%= link_to 'Delete Order', store_front_module_sales_order_path(@order), method: :delete, data: { confirm: "Are you sure you want to delete this Sales Order?" }, class: "btn btn-danger btn-xs" %>
        <% end %>
