<div class="row">
  <div  class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <center>

        <h3 class="subtitle-up"> Order Summary</h3>
        <span class="float-right"><%= link_to 'Print(PDF)', order_path(@order, format: 'pdf'), class: "btn btn-default btn-sm" %></span>

        </center>
      </div>

      <div class="card-body">
        <div class="row min-margin">
          <div class="col-md-5">
            <b> Customer </b>
          </div>
          <div class="col-md-7">
            <%= link_to@order.customer.try(:full_name).try(:upcase), customer_path(@order.customer) %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5">
            <b> Date </b>
          </div>
          <div class="col-md-7">
            <%= @order.date.strftime("%B %e, %Y") %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5">
            <b> Ref # </b>
          </div>
          <div class="col-md-7">
            <%= @order.reference_number %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5">
            <b> Store Front </b>
          </div>
          <div class="col-md-7">
            <%= @order.store_front.try(:name) %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5">
            <b> Sales Clerk </b>
          </div>
          <div class="col-md-7">
            <%= @order.employee.try(:name) %>
          </div>
        </div>



        <hr>
        <div class="row">
          <div class="col-md-6">
            <p class="title-up"> ITEMS </p>
          </div>
          <div class="col-md-6">
            <%= link_to 'Add Additional Items', new_store_front_module_sales_order_additional_line_item_path(@order), class: "btn btn-outline-danger float-right" %>
          </div>
        </div>
        <br>
              <% @order.line_items.each do |line_item| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= line_item.quantity %> <%= line_item.try(:unit_code) %>
                  </div>
                  <div class="col-md-4">
                    <b><%=line_item.product_name %></b><br>
                    <small class="text-muted"><%= line_item.bar_code %></small>
                  </div>
                  <div class="col-md-2">
                    <span class="float-right"><%= number_to_currency line_item.unit_cost %></span>
                  </div>
                  <div class="col-md-3">
                    <%= number_to_currency line_item.total_cost %>

                  </div>
                  <div class="col-md-1">
                    <% if current_user.proprietor? %>
                    <% if line_item.quantity == 1 %>
                      <%= link_to store_front_module_sales_order_line_item_cancellations_path(sales_order_line_item_id: line_item.id), data: { confirm: 'Are you sure you want to delete this item?' }, method: :create do %>
                        <span class="text-danger"><i class="fa fa-times"></i>
                      <% end %>
                    <% else %>
                    <%= link_to new_store_front_module_sales_order_line_item_sales_return_path(sales_order_line_item_id: line_item.id), data: { confirm: 'Are you sure you want to return this item?' } do %>
                        <span class="text-danger"><i class="fa fa-times"></i>
                      <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <hr>
                <% end %>
                <div class="row">
                  <div class="col-md-6">
                    <p class="title-up">OTHER ITEMS </p>
                  </div>
                  <div class="col-md-6">
                    <%= link_to "Add Other Sales Item", new_store_front_module_sales_order_additional_other_sales_item_path(@order), class: "btn btn-outline-danger float-right" %>
                  </div>
                </div>
                <br>
                <% @order.other_sales_line_items.each do |line_item| %>
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                      <b><%= line_item.description %></b><br>
                      <small class="text-muted">#<%= line_item.reference_number %></small>
                    </div>
                    <div class="col-md-2">
                      <%= number_to_currency line_item.amount %>
                    </div>
                    <div class="col-md-3">
                      <%= line_item.date.try(:strftime, "%B %e, %Y") %>

                    </div>
                  </div>
                  <hr>
                <% end %>
                <% if @order.credit? %>
                  <h4>Payments History</h4><br>
                  <% @order.payment_entries.each do |payment| %>
                    <div class="row">
                      <div class="col-md-2">
                        <%= image_tag(payment.recorder.avatar, class: "img-circle", height: 40, width: 40) %>
                      </div>
                      <div class="col-md-6">
                        <b><%= payment.recorder.try(:name) %></b><br>
                        <span class="text-muted"><%= payment.description %></span><br>
                        <span class="text-muted"><i class="fa fa-clock-o"></i> <%= payment.entry_date.strftime("%b %e, %Y %I:%M %p") %></span>
                      </div>
                      <div class="col-md-3">
                        <b class="float-right"><%= number_to_currency payment.amount %></b>
                      </div>
                    </div>
                    <br>
                  <% end %>
                <% end %>
                <hr />
                <%if current_user.proprietor? %>
                <span class="text-red">
                  Deleting this Order will remove it from Sales orders. The accounting entry will be deleted from records. In short, records for this order will be deleted forever.
                </span>
                <br>

          <%= link_to 'Delete Order', store_front_module_sales_order_path(@order), method: :delete, data: { confirm: "Are you sure you want to delete this Sales Order?" }, class: "btn btn-outline-danger" %>
        <% end %>
