<div class="tab-pane <%= 'active' if current_page? customer_account_index_path(@customer) %>">
  <div class="content">
    <div class="row">
      <div class="col-md-3">
        <h4><%= number_to_currency @customer.accounts_receivable %></h4>
        <small> ACCOUNTS RECEIVABLE</small>
      </div>
      <div class="col-md-3">
        <h4><%= number_to_currency @customer.payments_total %></h4>
        <small> PAYMENTS</small>
      </div>
      <div class="col-md-3">
        <h4 class="text-danger"><%= number_to_currency @customer.balance_total %></h4>
        <small class="text-danger"> BALANCE</small>
      </div>
      <div class="col-md-3">
        <h4></h4>
        <%#= link_to 'New Payment', new_customer_payment_path(@customer), class: "btn btn-primary" %>
      </div>
    </div>
    <hr>
    <h4 class="subtitle-up"> TRANSACTIONS HISTORY </h4>
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th> Date </th>
            <th>Check No. / Reference Number</th>
            <th> Invoice # / PO # / Description </th>
            <th> Amount </th>
            <th> Employee </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
              <td><%= link_to  payment.entry_date.strftime("%B %e, %Y"), accounting_entry_path(payment) %></td>
              <td><%= payment.reference_number %></td>
               <td><%= payment.description %></td>
              <td><%= number_to_currency payment.debit_amounts.sum(:amount) %></td>
              <td><%= payment.user.try(:full_name) %></td>
              <td><%= payment.recorder_name %></td>
              <td>
                <% if current_user.proprietor? %>
                  <%= link_to 'Delete', entry_path(payment), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" }, class: "btn btn-danger btn-xs" %>
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
