<div class="tab-pane" id="customer-account">
  <div class="content">
    <div class="row">
      <div class="col-md-3">
        <h4><%= number_to_currency @customer.accounts_receivable %></h4>
        <small> ACCOUNTS RECEIVABLE</small>
      </div>
      <div class="col-md-3">
        <h4><%= number_to_currency @customer.payments_total %></h4>
        <small> PAYMENTS</small>
      </div>
      <div class="col-md-3">
        <h4 class="text-danger"><%= number_to_currency @customer.balance_total %></h4>
        <small class="text-danger"> BALANCE</small>
      </div>
      <div class="col-md-3">
        <h4></h4>
        <%#= link_to 'New Payment', new_customer_payment_path(@customer), class: "btn btn-primary" %>
      </div>
    </div>
    <hr>
    <h4> Payments History </h4>
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th> Date </th>
            <th> Description </th>
            <th> Amount </th>
            <th> Employee </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @customer.payments.customer_credit_payment.each do |payment| %>
            <tr>
              <td><%= payment.entry_date.strftime("%B %e, %Y") %></td>
              <td><%= payment.description %></td>
              <td><%= number_to_currency payment.debit_amounts.sum(:amount) %></td>
              <td><%= payment.user.try(:full_name) %></td>
            </tr>
          <% end %>
          <% @customer.work_orders.each do |work_order| %>
          <% work_order.payment_entries.each do |payment| %>
            <tr>
              <td><%= payment.entry_date.strftime("%B %e, %Y") %></td>
              <td><%= payment.description %></td>
              <td><%= number_to_currency payment.amount %></td>
              <td><%= payment.recorder.try(:full_name) %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
