<div class="tab-pane <%= 'active' if current_page? customer_orders_path(@customer)%>" id="customer-orders">
  <div class="content">
    <%= link_to 'New Credit Sales', new_store_front_module_customer_credit_sales_order_line_item_processing_path(@customer), class: "btn btn-primary" %>
    <%= link_to 'New Credit(Others)', new_customer_other_credit_path(@customer), class: "btn btn-warning" %>

    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>

          <th>Date</th>
        	<th>Customer</th>
        	<th>Items</th>
        	<th>Total Cost</th>
          <th>CI No. / Check No.</th>
          <th>PO No.</th>
          <th>Balance</th>
          <th>Employee </th>
        </thead>
	      <tbody>
	        <% @customer.sales_orders.order(date: :desc).each do |order| %>
	          <tr>
	            <% if order.line_items.count > 0  || order.description %>
	            <td><%=link_to order.date.strftime("%B %e, %Y"), store_front_module_sales_order_path(order) %></td>
	            <td><%= order.customer_full_name.try(:titleize) %></td>

	            <td>
                <% if order.line_items.present? %>
                <%= order.line_items_name %>
                  <% elsif order.description.present? %>
                  <%= order.description %>
                <% end %>
                </td>
	            <td><%= number_to_currency order.total_cost %></td>
              <td><%= order.reference_number %></td>
              <td><%= order.description %></td>
              <td><%= number_to_currency order.balance %></td>
              <td><%= order.employee.try(:full_name)%></td>
              <td>
                <% if order.has_balance? %>
                  <%= link_to 'New Payment', new_store_front_module_credit_sales_order_payment_path(order), class: "btn btn-primary btn-sm" %>
                <% end %>
              </td>
	           <% end %>
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
    </div>
  </div>
</div>
