<div class="tab-pane <%= 'active' if current_page? customer_repair_services_path(@customer) %>" id="customer-work-orders">
    <h3 class="title">Repair Services </h3>
    <hr>
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Date Received</th>
            <th>Service Tag</th>
            <th>Charge Invoice </th>
            <th>Product</th>
            <th>Reported Problem</th>
            <th>Status</th>
            <th>Total Cost</th>
            <th>Balance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @repair_services.each do |work_order| %>
            <tr>
              <td><%= work_order.created_at.strftime("%B %e, %Y") %></td>
              <td>#<%= work_order.service_number %> </td>
              <td>#<%= work_order.charge_invoice_number %></td>
              <td><%= link_to work_order.product_unit.try(:description), computer_repair_section_work_order_path(work_order) %></td>
              <td><%= work_order.reported_problem %></td>
              <td><%= work_order.status %></td>
              <td><%= number_to_currency work_order.accounts_receivable_total %></td>
              <td><%= number_to_currency work_order.balance_total %></td>
              <td>
                <% if work_order.balance_total > 0 %>
                <%= link_to 'New Payment', new_computer_repair_section_work_order_payment_path(work_order), class: "btn btn-primary" %>
                <% elsif work_order.balance_total < 0 %>
                  <%= link_to 'New Refund', new_computer_repair_section_work_order_refund_path(work_order), class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
