<h3 class="title-up"> Repairs </h3>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.all.size %></h3>
    <small class="text-muted"> TOTAL </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.received.size %></h3>
    <small class="text-muted"> RECEIVED </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.work_in_progress.size%></h3>
    <small class="text-muted"> WORK IN PROGRESS </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.done_and_rto.size %></h2>
    <small class="text-muted"> DONE / RTO </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.released.size %></h3>
    <small class="text-muted"> RELEASED </small>
  </div>
</div>
<hr>
<h4 class="title-up">Receivables vs Payments </h4>

<% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>
      <% balances_data = [] %>
      <% payments_data = [] %>
      <% months.uniq.each do |month| %>

        <% balances_data << { month.strftime("%B %Y") => @receivable_account.debits_balance(from_date: month.beginning_of_month,to_date: month.end_of_month) } %>
        <% payments_data << { month.strftime("%B %Y") => @receivable_account.credits_balance(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>


      <% end %>
      <%= column_chart [
        { name: 'Receivables', data: Hash[*balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
        { name: 'Payments', data: Hash[*payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }

          ], thousands: ',', prefix: 'P' %>
          <hr>
          <h4 class="title-up"> Receive per Month </h4>
          <hr>
          <% receive_data = [] %>
          <% months.uniq.each do |month| %>

            <% receive_data << { month.strftime("%B %Y") => WorkOrder.from(from_date: month.beginning_of_month,to_date: month.end_of_month).count } %>

          <% end %>
          <%= line_chart [
            { name: 'Receive', data: Hash[*receive_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }
              ], thousands: ',', prefix: 'P' %>
