<h3 class="title-up"> Repairs </h3>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.count %></h3>
    <small class="text-muted"> TOTAL </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.received.count %></h3>
    <small class="text-muted"> RECEIVED </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.work_in_progress.count %></h3>
    <small class="text-muted"> WORK IN PROGRESS </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.done_and_rto.count %></h2>
    <small class="text-muted"> DONE / RTO </small>
  </div>
  <div class="col-md-2">
    <h3 class="title-up"><%= WorkOrder.released.count %></h3>
    <small class="text-muted"> RELEASED </small>
  </div>
</div>
<hr>
<h4 class="title-up">Receivables vs Payments </h4>

<% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>
      <% balances_data = [] %>
      <% payments_data = [] %>
      <% months.uniq.each do |month| %>

        <% balances_data << { month.strftime("%B %Y") => WorkOrder.receivable_accounts.debits_balance(from_date: month.beginning_of_month,to_date: month.end_of_month) } %>
        <% payments_data << { month.strftime("%B %Y") => WorkOrder.receivable_accounts.credits_balance(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>


      <% end %>
      <%= column_chart [
        { name: 'Receivables', data: Hash[*balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
        { name: 'Payments', data: Hash[*payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }

          ], thousands: ',', prefix: 'P' %>
          <hr>
          <h4 class="title-up"> Receive per Month </h4>
          <%= line_chart WorkOrder.group_by_month(:date_received).count %>
          <hr>
