<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-default">
      <div class="card-header">
        <h4 class="subtitle-up"> Payment Details </h4>
      </div>
      <div class="card-body">
<%= simple_form_for @payment, url: :repair_services_module_work_order_payment_processings do |f| %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <%= f.error_notification %>
      <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
      <%= f.input :description %>
      <%= f.input :amount, as: :string %>
      <%= f.input :expense_amount, as: :string, label: "Discount/Tax", input_html: { value: 0} %>
      <%= f.input :expense_account_id, collection: current_business.accounts.all.map{|a| [a.name, a.id] }  %>
      <%= f.input :customer_id, input_html: { value: @work_order.customer_id }, as: :hidden %>
      <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
      <%= f.input :work_order_id, input_html: { value: @work_order.id }, as: :hidden %>
      <div class="card-footer">
        <%= f.submit "Save Payment", class: "btn btn-primary float-right" %>
      </div>
    </div>
  </div>
<% end %>
