

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="subtitle-up">Edit Stock</h4>
          <p class="category">Edit stock details for this product</p>
        </div>
        <div class="card-body">
<%= simple_form_for [@product, @purchase], url: :product_stock do |f| %>
  <%= f.error_notification %>
  <%= f.input :bar_code %>
  <%= f.input :quantity %>
  <%= f.input :unit_cost %>
  <%= f.input :total_cost %>

  <%= f.submit "Save Stock", class: "btn btn-primary float-right" %>
<% end %>
