

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-default">
        <div class="box-header">
          <h4 class="box-title">Edit Stock</h4>
          <p class="category">Edit stock details for this product</p>
        </div>
        <div class="content">
<%= simple_form_for [@product, @stock], url: :product_stock do |f| %>
  <%= f.error_notification %>
  <%= f.input :bar_code %>
  <%= f.input :quantity %>

  <%= f.submit "Save Stock", class: "btn btn-primary" %>
<% end %>
