
 <%if @cash_account.present? %>
 <div class="row">
  <div class="col-md-9">
    <h3 class="title-up"><%= @to_date.strftime("%B %e, %Y") %></h3>
    <% if current_user.proprietor? %>
                  <%=link_to "New Remittance", new_employee_remittance_path(employee_id: @employee.id, cash_account_id: @employee.cash_on_hand_account.id), class: "btn btn-success btn-sm" %>
                <% end %>
  </div>
  <div class="col-md-3">
      <%=form_tag admin_employee_path(@employee), method: :get, id: "search-form" do %>
        <div class="input-group stylish-input-group">
          <%= text_field_tag :to_date, params[:to_date], class: "search-query form-control datepicker border-input", placeholder: "Search customer", type: "search" %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>
            <i class="fa fa-search"></i> Change
          <% end %>
        </span>
         </button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <br>
   <div class="row">
     <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-tag"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Beginning Balance</span>
                <h4  class="title-up"><%= number_to_currency @cash_account.balance(to_date: @to_date.yesterday.end_of_day) %> </h4>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-arrow-down"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Cash Receipts</span>
                <h4  class="title-up"><%= number_to_currency @cash_account.debits_balance(from_date: @to_date.beginning_of_day, to_date: @to_date.end_of_day) %> </h4>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-arrow-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Cash Disbursements</span>
                <h4  class="title-up"><%= number_to_currency @cash_account.credits_balance(from_date: @to_date.beginning_of_day, to_date: @to_date.end_of_day) %> </h4>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-credit-card"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Ending Balance</span>
                <h4  class="title-up"><%= number_to_currency @cash_account.balance(to_date: @to_date.end_of_day) %> </h4>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
</div>
  <h4 class="subtitle-up"> Cash Transfers </h4>
  <% @employee.received_cash_transfers(from_date: @to_date, to_date: @to_date).each do |transfer| %>
            <div class="row">
              <div class="col-md-6">
                <b class="text-success"><%= transfer.description %></b><br>
                <i class="fa fa-clock-o"></i> <%=transfer.entry_date.strftime("%b %e, %Y %I:%M %p") %>
              </div>
              <div class="col-md-3">
                <b><%= number_to_currency transfer.amount %></b><br>
                <small>FROM</small>
                  <%= transfer.recorder.try(:name) %>
              </div>
            </div>
            <br>
        <% end %>
        <hr>
        <h4 class="subtitle-up">Cash Remittances </h4>
        <% @employee.remittances(from_date: @to_date, to_date: @to_date).each do |remittance| %>
            <div class="row">
              <div class="col-md-6">
                <b><%= remittance.description %></b><br>
                <i class="fa fa-clock-o"></i> <%=remittance.entry_date.strftime("%b %e, %Y %I:%M %p") %>
              </div>
              <div class="col-md-3">
                <b><%= number_to_currency remittance.amount %></b><br>
              
              </div>
            </div>
            <br>
        <% end %>
 <% end %>
