
<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <center>
          <% if @order.commercial_document.respond_to?(:avatar) %>
          <%= image_tag(@order.commercial_document.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %><br><br>
          <% end %>
        <h3 class="box-title"><%= @order.origin_store_front_name.try(:upcase) %></h3>
        </center>
      </div>
      <hr>
      <div class="box-body">
         <% if current_user.proprietor? %>
          <span class="pull-right"><%= link_to 'Print(Excel)', store_front_module_stock_transfer_path(@order, format: 'xlsx'), class: "btn btn-default btn-sm" %></span>
          <span class="pull-right"><%= link_to 'Print(PDF)', order_path(@order, format: 'pdf'), class: "btn btn-default btn-sm" %></span>
        <% end %>
        <i class="icon-calendar"></i> <%= @order.date.strftime("%B %e, %Y") %><br>
        <p class="text-black"> Reference Number: <%= @order.reference_number %></p>

        <hr>
        <p>Detination Store Front: <%= @order.destination_store_front.try(:name) %></p>
        <% if current_user.proprietor? %>
          <%= link_to "Edit", edit_store_front_module_stock_transfer_path(@order), class: "btn btn-danger" %>
        <% end %>
        <hr>
              <% @order.purchase_order_line_items.each do |line_item| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= line_item.quantity %> <%= line_item.unit_code %>
                  </div>
                  <div class="col-md-4">
                    <%=line_item.product_name %><br>
                    <small class="text-muted"><%= line_item.bar_code %></small>
                  </div>
                  <div class="col-md-2">
                    <span class="pull-right"><%= number_to_currency line_item.total_cost %></span>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
                <hr>
                <% end %>
                <%if current_user.proprietor? %>
                <span class="text-red">
                  Deleting this stock transfer will remove it from Stock transfers. The accounting entry will be deleted from records. In short, records for this order will be deleted forever.
                </span>
                <br>

          <%= link_to 'Delete Stock Transfer', store_front_module_stock_transfer_path(@order), method: :delete, data: { confirm: "Are you sure you want to delete this Stock Transfer?" }, class: "btn btn-danger btn-xs" %>
        <% end %>
