
<% @line_items.uniq.each do |line_item| %>


                    <%= simple_form_for [@work_order, @repair_service_order_line_item], url: :repair_services_module_work_order_repair_service_order_line_item_processings do |f| %>
    <div class="row">
                        <div class="col-md-3">
                          <b><%= line_item.name.try(:upcase) %></b><br>

                            <%= number_to_currency line_item.unit_of_measurement.try(:price) %>/<%= line_item.unit_code %>


                          <b><%=line_item.available_quantity(store_front: current_store_front) %> <%= line_item.unit_code %></b><br>
                          <small class="text-success">IN STOCK</small>
                          </div>

                        <div class="col-md-3">
                        <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, autofocus: true, label: false %>
                      </div>
                      <div class="col-md-1">
                        <%= f.input :unit_of_measurement_id, label: false, collection: line_item.product.unit_of_measurements.map{ |a| [a.unit_code, a.id] }, selected: line_item.product.base_measurement %>
                        <%= f.input :product_id, input_html: { value: line_item.product_id }, as: :hidden %>
                        <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>

                      </div>
                      <div class="col-md-3">
                        <%= f.input :unit_cost, placeholder: "Selling Price", label: false %>
                        <%= f.input :bar_code, input_html: { value: params[:search] }, as: :hidden %>
                         <%= f.input :purchase_order_line_item_id, input_html: { value: line_item.id }, as: :hidden %>
                      </div>

                      <div class="col-md-2">
                        <% if line_item.available_quantity(store_front: current_store_front) <= 0 %>
                          <small class="label bg-red"> OUT OF STOCK </small>
                        <% else %>
                          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                        <% end %>
                      </div>
                    </div>

                      <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>


              <% end %>
<% end %>
<hr>
