<div class="tab-pane active" id="product-info">
  <div class="content">
    Product Info
    <div class="row">
      <div class="col-md-6">
         <div class="row">
          <div class="col-md-6">
            Category
          </div>
          <div class="col-md-6">
            <%= @product.category_name %>
          </div>
        </div>
        <br>
      </div>
    </div>
    <% if current_user.proprietor? %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning btn-sm" %>
    <% end %>
    <hr>
    <h4>Unit of Measurements</h4>
      <%= link_to 'Add Unit Of Measurement', new_product_unit_of_measurement_path(@product) %>
    <% @product.unit_of_measurements.each do |unit| %>
      <div class="row">
        <div class="col-md-2">
          <%= unit.quantity %> /
          <%= unit.unit_code %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency unit.price_for_store_front(store_front: current_store_front) %>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <%= link_to "Update Info", edit_store_front_module_unit_of_measurement_path(unit), class: "btn btn-warning btn-xs" %>
          <%= link_to "Update Price", new_store_front_module_selling_price_path(product_id: @product.id, unit_of_measurement_id: unit.id), class: "btn btn-warning btn-xs" %>
        </div>
      </div>
      <br>
    <% end %>
    <hr>
    <h4>Selling Prices</h4>
    <% current_business.store_fronts.each do |store_front| %>
      <% if @product.selling_prices.for_store_front(store_front: store_front).present? %>
        <%= store_front.name %>
      <% end %>
      <% @product.selling_prices.where(store_front: store_front).each do |price| %>
        <div class="row">
          <div class="col-md-3">
            <%= price.date.strftime("%B %e, %Y") %>
          </div>
          <div class="col-md-3">
            <%= number_to_currency price.price %> Selling Price
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
      <hr>
      <h4>Purchase Price History</h4>
        <% @product.purchase_prices.where(store_front: current_store_front).each do |price| %>
          <div class="row">
            <div class="col-md-3">
              <%= price.date.strftime("%B %e, %Y") %>
            </div>
            <div class="col-md-3">
              <%= number_to_currency price.price %>
            </div>
          </div>
          <br>
        <% end %>
  </div>
</div>
