<div class="tab-pane active" id="product-info">
  <div class="content">
    Product Info
    <div class="row">
      <div class="col-md-6">
         <div class="row">
          <div class="col-md-6">
            Category
          </div>
          <div class="col-md-6">
            <%= @product.category_name %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Delivered Items
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.delivered_items_count, unit: "" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Sold Items
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.sold_items_count, unit: "" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Transferred Stocks
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.transferred_stocks_count, unit: "" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Returned Items
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.returned_items_count, unit: "" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Under Warranty
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.items_under_warranty_count, unit: "" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Released Warranty
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.released_warranties_count, unit: "" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            In Stock
          </div>
          <div class="col-md-6">
            <%= number_to_currency @product.in_stock, unit: "" %>
          </div>
        </div>
      </div>
    </div>
    <% if current_user.proprietor? %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning btn-sm" %>
      <%= link_to 'Add Unit Of Measurement', new_product_unit_of_measurement_path(@product) %>
    <% end %>
    <h4>Unit of Measurements</h4>
      <p>Base Measurement </p>
      Base Price <%=number_to_currency @product.base_measurement.try(:current_selling_price) %> <%= @product.base_measurement.try(:quantity) %>/ <%= @product.base_measurement.try(:unit_code) %>
      <hr>
    <% @product.unit_of_measurements.each do |unit| %>
      <%= unit.quantity %>
      <%= unit.unit_code %>
      <%= unit.description %>
      <%= unit.current_selling_price %>
    <% end %>
  </div>
</div>
