<div class="tab-pane <%= 'active' if current_page?(product_orders_path(@product)) %>" id="product-sales">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                  <th>Date</th>
                	<th>Customer</th>
                  <th>Mode of Payment / Type</th>
                  <th>Discount</th>
                  <th>Total Cost</th>
                  <th> Employee </th>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                  <tr>
                    <td><%=link_to order.date.strftime("%B %e, %Y"), store_front_module_sales_order_path(order) %></td>
                    <%= order.store_front.name %>
                    <td><%= order.customer_full_name.try(:titleize) %></td>
                    <td><%= number_to_currency order.discount_amount %></td>
                    <td><%= number_to_currency order.total_cost %></td>
                    <td><%= order.employee_full_name %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <center><%= will_paginate @orders %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
