<div class="tab-pane <%= 'active' if current_page?(product_stocks_path(@product)) %>" id="product-stocks">
                             <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>

                                      <th>Product</th>
                                      <th>Date </th>
                                      <th>Quantity</th>
                                      <th>Unit Cost</th>
                                      <th>Total Cost</th>
                                      <th>Supplier</th>
                                    </thead>
                                    <tbody>
                                      <% @stocks.each do |stock| %>
                                      <tr>
                                      <td><%=link_to stock.name, store_front_module_purchase_order_path(stock) %><br>
                                      <small><%= stock.bar_code %></small></td>
                                      <td><%= stock.date.strftime("%B %e, %Y") %></td>
                                      <td><%= stock.quantity %></td>

                                        <td><%= number_to_currency stock.unit_cost %></td>
                                        <td><%= number_to_currency stock.total_cost %></td>


                                      <td><%= stock.supplier_business_name %></td>


                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                  <center> <%=will_paginate @stocks %></center>

</div>
