<div class="tab-pane <%= 'active' if current_page?(product_stocks_path(@product)) %>" id="product-stocks">
                             <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>

                                      <th>Product</th>
                                      <th>Date Purchased </th>
                                      <th>Quantity</th>
                                      <th> In Stock </th>
                                      <th>Unit Cost</th>
                                      <th>Total Cost</th>
                                      <th>Supplier</th>
                                      <th></th>
                                    </thead>
                                    <tbody>
                                      <% @stocks.each do |stock| %>
                                      <tr>
                                      <td><%=link_to stock.name, store_front_module_purchase_order_line_item_path(stock) %><br>
                                        <small><%= stock.bar_code %></small><br>

                                        <% if stock.stock_transfer_order_line_items.present? %>
                                          <% stock.stock_transfer_order_line_items.each do |transfer| %>
                                            <span class="badge bg-yellow"> Transfer <%= transfer.quantity %> </span>
                                            <%= transfer.order.try(:origin_store_front).try(:name) %> to
                                            <%= transfer.order.try(:destination_store_front).try(:name) %>
                                            <br>
                                          <% end %>
                                        <% end %>
                                        <% if stock.sold? && stock.customer.present?  %>
                                          Customer: <%= stock.customer %>
                                          <br>
                                          Date Sold:  <%= stock.try(:date_sold).try(:strftime, ("%B %e, %Y")) %><br>
                                          <span class="label bg-green"> Sold </span><br>

                                        <% end %>
                                      </td>

                                      <td><%= stock.try(:date).try(:strftime, ("%B %e, %Y")) %></td>

                                      <td><%= stock.quantity %></td>
                                      <td> <%= stock.available_quantity(store_front: current_store_front) %></td>
                                       <% if current_user.proprietor? %>
                                          <td><%= number_to_currency stock.unit_cost %></td>
                                          <td><%= number_to_currency stock.total_cost %></td>
                                      <% end %>


                                      <td><%= stock.try(:supplier_business_name) %></td>
                                      <% if current_user.proprietor? %>
                                      <td><%= link_to "Edit", edit_product_stock_path(id: stock.id, product_id: @product.id), class: "btn btn-warning btn-sm" %>
                                      <% end %>

                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                  <center> <%=will_paginate @stocks %></center>

</div>
