<h3><%= @store_front.name %> Inventory</h3>
<%= form_tag({:action => "index", controller: "/store_front_module/store_fronts/inventories", format: 'xlsx'}, {:method => :get})  do %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
        </div>
      </div>
      <div class="col-md-3">
        <div clasps="form-group">

          <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
        </div>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-success"> Generate</button>
      </div>
    </div>
  <% end %>
<%= link_to 'Excel', store_front_module_store_front_inventories_path(@store_front, format: 'xlsx') %>
<div class="container">
  <div class="container-fluid">
    <div class="box box-solid">
      <div class="box-body">
      </div>
    </div>
  </div>
</div>
