<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="title-up"><%= stock.name %></h3>
          <span class="text-muted"><i class="fa fa-barcode"></i> <%= stock.barcode %></span>

<ul class="nav nav-pills nav-pills-underline">
  <li class="nav-item">
   <%= link_to 'Info', store_front_module_stock_path(stock), class: "nav-link #{ 'active' if current_page?(store_front_module_stock_path(stock))}" %>
 </li>
<li class="nav-item">
  <%= link_to 'Sales', store_front_module_stock_sales_path(stock), class: "nav-link #{ 'active' if current_page?(store_front_module_stock_sales_path(stock))}" %>
</li>
<li class="nav-item">
 <%= link_to 'Stock Transfers', store_front_module_stock_stock_transfers_path(stock), class: "nav-link #{ 'active' if current_page?(store_front_module_stock_stock_transfers_path(stock))}" %>
</li>
<li class="nav-item">
 <%= link_to 'Internal Uses', store_front_module_stock_internal_uses_path(stock), class: "nav-link #{ 'active' if current_page?(store_front_module_stock_internal_uses_path(stock))}" %>
</li>

</ul>
<br>


  <% if current_page? store_front_module_stock_path(stock) %>
    <%=render 'store_front_module/stocks/partials/info', stock: stock %>
  <% end %>
    <% if current_page? store_front_module_stock_sales_path(stock) %>
      <%=render 'store_front_module/stocks/partials/sales', stock: stock %>
    <% end %>
    <% if current_page? store_front_module_stock_stock_transfers_path(stock) %>
      <%=render 'store_front_module/stocks/partials/transfers', stock: stock %>
    <% end %>
    <% if current_page? store_front_module_stock_internal_uses_path(stock) %>
      <%=render 'store_front_module/stocks/partials/internal_uses', stock: stock %>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
