
    <div class="row">
      <div class="col-md-8">
        <div class="box box-warning">
          <div class="box-header">
                     <h4 class="box-title"><span class="icon-basket-loaded"></span> Spare Parts</h4>
                                <p class="category">Search for products</p>
                            </div>

          <div class="box-body">
          <%=form_tag new_computer_repair_section_work_order_spare_part_path(@work_order), method: :get, id: "search-form" do %>
             <div class="input-group">
               <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", autofocus: true, placeholder: "Search...", type: "search" %>
               <span class="input-group-btn">
                 <%= button_tag(type: 'submit', class: "btn") do %>
                   <i class="icon-magnifier"></i> Search
                 <% end %>
               </span>
             </div>
           <% end %>

                 <br>
       <% if params[:search].present? && @products.exists? %>
       <%= render 'repair_services_module/work_order_line_items/searched_product_results' %>
       <% else %>
                  <p class="text-danger"> Product not found. </p>
                <% end %>

            </div>
          </div>
        </div>


        <div class="col-md-4">
       <div class="box box-warning">
          <div class="box-header">
<%=link_to computer_repair_section_work_order_path(@work_order) do  %>
  <span class="btn btn-default"><i class="fa fa-chevron-left"></i> Back </span>
<% end %>
            <h4 class="condensed-text"> SPARE PARTS </h4>
          </div>
          <div class="content">
         <% @work_order.spare_parts.each do |spare_part| %>
         <% if spare_part.stock %>
            <div class="row">
              <div class="col-md-2">
                  <%= spare_part.quantity %>
                </div>
              <div class="col-md-5">
                    <%= spare_part.product_name %>
              </div>

                <div class="col-md-3">
                  <%= number_to_currency spare_part.total_cost %>
                </div>
                <div class="col-md-2">
                  <%= link_to computer_repair_section_work_order_spare_part_path(id: spare_part.id), method: :delete do %>
                  <span class="text-danger" title="Remove Item" data-toggle="tooltip" data-placement="top"> <i class="fa fa-trash"></i> </span>
                  <% end %>
                </div>
              </div>
                  <hr>
                <% end %>
                <% end %>
                 <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  <h4 class="condensed-text"><b> TOTAL </b> </h4>
                </div>
                <div class="col-md-4">
                  <h4 class="pull-right"><%= number_to_currency @work_order.total_charges_cost %></h4>
                </div>
              </div>
            </div>

