<%= simple_form_for @spoilage_order_line_item, url: :store_front_module_spoilage_order_line_item_processings do |f| %>
   <div class="row">
     <div class="col-md-2">
       <p><b><%= stock.name.try(:upcase) %></b></p>

         <%= number_to_currency stock.try(:unit_measurement).try(:price) %>/<%= stock.unit_code %><br>

     </div>
     <div class="col-md-2">
       <%=stock.balance %> <%= stock.unit_code %><br>
       <small class="text-danger">AVAILABLE QTY</small>
     </div>
     <div class="col-md-3">
     <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, autofocus: true %>
   </div>
   <div class="col-md-3">
     <%= f.input :unit_of_measurement_id, input_html: { value: stock.unit_of_measurement_id }, as: :hidden %>
     <%= f.input :product_id, input_html: { value: stock.product_id }, as: :hidden %>
     <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
     <%= f.input :bar_code, input_html: { value: params[:search] } %>
     <%= f.input :stock_id, input_html: { value: stock.id }, as: :hidden %>
     <%= f.input :selling_price, input_html: { id: 'line_item_selling_price', value: stock.unit_of_measurement.try(:price) } %>
   </div>

   <div class="col-md-2">
     <br>
     <% if stock.balance <= 0 %>
       <span class="badge bg-red"> OUT OF STOCK </span>
     <% else %>
       <%= f.submit "Add to Cart", class: "btn btn-danger btn-sm" %>
     <% end %>
   </div>
 </div>
<% end %>
<hr>
