<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-2">
            <p class="condensed-text">ACCOUNTS </p>
          </div>
          <div class="col-md-6">
            <%=form_tag accounting_accounts_path, method: :get, class: "sidebar-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account..", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to new_accounting_account_path do %>
              <span class="btn btn-primary btn-flat pull-right"><i class="fa fa-plus-circle"></i> New Account</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Account Code </th>
                <th> Account </th>
                <th></th>
                <th> Type </th>
                <th> Debits Balance </th>
                <th> Credits Balance </th>
                <th> Balance </th>
              </tr>
            </thead>
            <tbody>
              <% @accounts.each do |account| %>
                <% cache account do %>
                  <% if account.sub_accounts.present? %>
                     <tr data-link="<%=accounting_account_path(account)%>" class="myClass">
                      <td> <%= account.code %><br>
                        <% account.sub_accounts.each do |sub_account| %>
                        &nbsp; &nbsp;  <%= sub_account.code %><br>
                        <% end %>
                      </td>
                      <td> <%= account.name %><br>
                        <% account.sub_accounts.each do |sub_account| %>
                        &nbsp; &nbsp;  <%= sub_account.name %><br>
                        <% end %>
                      </td>
                      <td>

                      </td>
                      <td> <%= account.type.gsub("AccountingModule::", "")%></td>
                      <td> <%= number_to_currency account.debits_balance %><br>
                        <% account.sub_accounts.each do |sub_account| %>
                        &nbsp; &nbsp;  <%= number_to_currency sub_account.debits_balance %><br>
                        <% end %>
                      </td>
                      <td> <%= number_to_currency account.credits_balance %><br>
                        <% account.sub_accounts.each do |sub_account| %>
                        &nbsp; &nbsp;  <%= number_to_currency sub_account.credits_balance %><br>
                        <% end %>
                      </td>
                      <td> <%= number_to_currency account.balance %><br>
                        <% account.sub_accounts.each do |sub_account| %>
                        &nbsp; &nbsp;  <%= number_to_currency sub_account.credits_balance %><br>
                        <% end %>
                      </td>
                    </tr>
                  <% elsif account.main_account.blank? %>
                     <tr data-link="<%=accounting_account_path(account)%>" class="myClass">
                      <td> <%= account.account_code %></td>
                      <td> <%= account.name %><td>
                      <td> <%= account.type.gsub("AccountingModule::", "")%></td>
                      <td> <%= number_to_currency account.debits_balance %></td>
                      <td> <%= number_to_currency account.credits_balance %></td>
                      <td> <%= number_to_currency account.balance %></td>
                      <td>
                        <% if account.active? %>
                          <%= link_to "Disable", deactivate_accounting_account_path(account), method: :deactivate %>
                        <% end %>
                          </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <center><%= will_paginate @accounts %></center>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("tr").click(function() {
  window.location = $(this).data("link")
});
  $('.myClass').css('cursor', 'pointer');
</script>
