<div class="content">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="header">
         <h4 class="title"><%= @stock.name %></h4>
         <% if @stock.sold? %>
                                        <span class="label label-danger"> Sold </span>
                                      <% else %>
                                        <span class="label label-success"> <%= @stock.in_stock.to_i %> left </span>

                                      <% end %>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            Quantity Received
          </div>
          <div class="col-md-8">
            <%= @stock.quantity %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Date Received
          </div>
          <div class="col-md-8">
            <%= @stock.date.strftime("%B %e, %Y") %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            In Stock
          </div>
          <div class="col-md-8">
            <%= @stock.in_stock %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Supplier
          </div>
          <div class="col-md-8">
            <%= @stock.supplier.try(:business_name) %>
          </div>
        </div>
        <% if @stock.sold? %>
        <br>
          <div class="row">
          <div class="col-md-4">
            Date Sold
          </div>
          <div class="col-md-8">
            <%= @stock.line_items.last.created_at.strftime("%B %e, %Y") %>
          </div>
        </div>
        <% end %>
        <hr>

<% if current_user.proprietor? %>
  <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-warning btn-sm" %>
<% end %>
