<div class="content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-danger">
        <div class="card-header">
           <h4 class="subtitle-up">Edit Employee <%= @user.full_name %></h4>
          <p class="category">Details for this employee</p>
        </div>
        <div class="card-body">
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%if @user.avatar.blank? %>
            <center><%=image_tag("default.png", height: 80, width: 80, :class=>"img-square") %></center>
          <% else %>
            <center><%= image_tag @user.avatar, class: 'center-block img-responsive img-rounded'%></center>
          <% end %>
          <center><%= f.input :avatar, as: :file, label: "Upload photo" %></center>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, label: "Comfirm Password" %>
  <% if current_user.proprietor? %>
    <%= f.input :role, collection: User.roles.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
    <%= f.input :section_id, collection: Section.all.map{|a| [a.name, a.id] }, as: :radio_buttons %>
    <%= f.input :cash_on_hand_account_id, collection: AccountingModule::Asset.all.map{|a| [a.name, a.id] } %>
  <% end %>
  <%= f.submit "Save", class: "btn btn-danger" %>
<% end %>
