<div class="content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="header">
           <h4 class="title">New Employee</h4>
          <p class="category">Details for this new employee</p>
        </div>
        <div class="content">
<%= simple_form_for @user, url: :user_registration do |f| %>
  <%= f.error_notification %>
  <%if @user.avatar.blank? %>
            <center><%=image_tag("default.png", height: 80, width: 80, :class=>"img-square") %></center>
          <% else %>
            <center><%= image_tag @user.avatar.url(:large), class: 'center-block img-responsive img-rounded'%></center>
          <% end %>
          <center><%= f.input :avatar, as: :file, label: "Upload photo" %></center>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, label: "Comfirm Password" %>
  <%= f.input :role, collection: User.roles.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
  <%= f.input :designation %>
  <%= f.input :business_id, input_html: { value: current_business.id }, as: :hidden %>
  <%= f.input :store_front_id, collection: current_business.store_fronts.map{ |a| [a.name, a.id] } %>

  <%= f.input :section_id, collection: Section.all.map{|a| [a.name, a.id] }, as: :radio_buttons %>
  <%= f.submit "Save", class: "btn btn-danger" %>
<% end %>
