<div class="content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card">
        <div class="header">
          <h4 class="title">New Sales Return</h4>
          <p class="category">Details for this new sales return</p>
        </div>
        <div class="content">
        <%= simple_form_for [@line_item, @sales_return], url: :line_item_stock_transfer_sales_returns do |f| %>
          <%= f.error_notification %>
          <%= f.input :quantity, input_html: { value: @line_item.quantity } %>
          <%= f.input :sales_return_type, collection: SalesReturn.sales_return_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
          <%= f.input :remarks, as: :text %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Save", class: "btn btn-primary pull-right" %>
              <%= link_to 'Cancel', stock_transfer_path(@line_item.stock_transfer), class: "btn btn-default pull-left" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
