<div class="row">
  <div class="col-md-8">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="subtitle-up"> Sales Return Section </h3><br>
        <span class="text-muted"> Generate sales return on this section </span>
      </div>
      <div class="card-body">
       <% if params[:search].present? %>
        <%=form_tag new_store_front_module_sales_return_order_line_item_processing_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-danger btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
        <% else %>
         <%=form_tag new_store_front_module_sales_return_order_line_item_processing_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], autofocus: true,  class: "form-control input-lg", placeholder: "Search Products..."  %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-danger btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
        <br>
        <% @sales_orders.each do |order| %>
    <%= link_to store_front_module_sales_order_path(order) do %>
      <%= render 'store_front_module/orders/partials/header', order: order %>
    <% end %>
    <% end %>

        <center><%==pagy_bootstrap_nav(@pagy) %></center>
