<div class="row">
  <div class="col-md-3">
    <h3 class="title-up">Sales Orders </h3>
    <span class="text-muted"><%= @from_date.strftime('%B %e, %Y') %>-
    <%= @to_date.strftime('%B %e, %Y') %>

  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <%= link_to 'All', store_front_module_store_front_sales_orders_path, class: "btn btn-outline-secondary #{'active' if current_page?( store_front_module_store_front_sales_orders_path(from_date: nil, to_date: nil)) }" %>
      <%= link_to 'This Day', store_front_module_store_front_sales_orders_path(from_date: Date.current, to_date: Date.current), class: "btn btn-outline-secondary #{'active' if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current, to_date: Date.current))}" %>
      <%= link_to 'This Week', store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_week, to_date: Date.current.end_of_week), class: "btn btn-outline-secondary #{'active' if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_week, to_date: Date.current.end_of_week)) }" %>
      <%= link_to 'This Month', store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month), class: "btn btn-outline-secondary #{'active' if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month)) }" %>
       <%= link_to 'This Year', store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year), class: "btn btn-outline-secondary #{'active' if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year)) }" %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <small class="text-muted">TOTAL SALES</small>
        <h3 class="title-up"><%= number_to_currency @all_sales_orders.sum(&:total_cost) %></h3>
      </div>
    </div>
  </div>
 <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <small class="text-muted">SALES COUNT</small>
        <h3 class="title-up"><%= number_to_currency @all_sales_orders.size, precision: 0, unit: "" %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <small class="text-muted">COGS</small>
        <h3 class="title-up"><%= number_to_currency @all_sales_orders.sum(&:cost_of_goods_sold) %></h3>
      </div>
    </div>
  </div>
   <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-tag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sales Income </span>
                <h4  class="title-up"><%= number_to_currency @all_sales_orders.sum(&:income) %> </h4>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
<% if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_week, to_date: Date.current.end_of_week)) %>
  <%= render 'store_front_module/store_fronts/sales_orders/charts/week' %>
  <% end %>
<% if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year)) %>
  <%= render 'store_front_module/store_fronts/sales_orders/charts/year' %>
  <% end %>

<% if current_page?( store_front_module_store_front_sales_orders_path(from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month)) %>
  <%= render 'store_front_module/store_fronts/sales_orders/charts/month' %>
  <% end %>
</div>
</div>
<h4 class="subtitle-up"> Orders </h4>
<% @sales_orders.each do |order| %>
  <%= link_to store_front_module_sales_order_path(order) do %>
    <%= render 'store_front_module/orders/partials/header', order: order %>
  <% end %>
<% end %>
<%==pagy_bootstrap_nav(@pagy) %>
