<div class="row">
  <div class="col-md-8">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th><b>QTY</b></th>
                <th><b>DESCRIPTION</b></th>
                <th><span class="pull-right"><b>UNIT COST</b></span></th>
                <th><span class="pull-right"><b>TOTAL COST</b></span></th>
              </tr>
            </thead>
            <tbody>
              <% @registry.received_stock_transfer_order_line_items.each do |line_item| %>
                <tr>
                  <td><%= line_item.quantity %> <%= line_item.unit_code %></td>
                  <td width="300px"><%= line_item.name.try(:titleize) %> <span class="text-muted"><%= line_item.bar_code %></span>
                  </td>
                  <td>
                    <span class="pull-right">
                      <%= number_to_currency line_item.unit_cost %>
                    </span>
                  </td>
                  <td>
                    <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                  </td>
                  <td>
                  <%= link_to store_front_module_stock_transfer_order_line_item_processing_path(line_item), method: :delete do %>
                    <span class="fa fa-trash"></span>
                  <% end %>
                  </td>
                </tr>
              <% end %>
              <hr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"> Transfer Details </h3>
      </div>
      <div class="box-body">
        <% if @registry.line_items.present? %>
          <%= simple_form_for @stock_transfer_order, url: :store_front_module_stock_transfer_order_processings do |f| %>
            <%= f.input :destination_store_front_id, input_html: { value: current_user.store_front_id }, as: :hidden %>
            <p> <b>Origin Store Front </b></p>
            <%= f.input :store_front_id, label: false, collection: StoreFront.all.except(current_user.store_front).map{|a| [ a.name, a.id] } %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :description, as: :text %>
            <%= f.input :registry_id, input_html: { value: @registry.id }, as: :hidden %>
            <%=f.submit "Save Purchase", class: "btn btn-success btn-block btn-lg", :accesskey => "C" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

