<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
    <div class="box-header">
      <h3 class="box-title"> Stock Transfers</h3>
    </div>
    <div class="box-body">
      <div class="table table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Destination Branch</th>
              <th>Items</th>
              <th>Total Cost</th>
              <th>Employee</th>
            </tr>
          </thead>
          <tbody>
            <% @stock_transfers.order(date: :desc).each do |stock_transfer| %>
              <tr>
                <td><%= link_to stock_transfer.date.strftime("%B %e, %Y"), stock_transfer %></td>
                <td><%= link_to stock_transfer.destination_branch.try(:name), stock_transfer %></td>
                <td>
                  <% stock_transfer.line_items.each do |line_item|  %>
                    <div class="row">
                      <div class="col-md-9">
                        <%= line_item.product_name %><br>
                        <small><i><%= line_item.barcode %></i></small>
                      </div>
                      <div class="col-md-1">
                        <span><%= line_item.quantity %></span>
                      </div>
                    </div>
                    <br>
                  <% end %>
                </td>
                <td><%= number_to_currency stock_transfer.line_items.total_cost %></td>
                <td><%= stock_transfer.employee.try(:full_name) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <center><%= will_paginate @stock_transfers %></center>
    </div>
  </div>
</div>


