<div class="content">
<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <div class="content">
      <div class="card">
            <div class="content">
              <div class="header">
              <span class="pull-right"><%= link_to 'Print(PDF)', stock_transfer_path(@stock_transfer, format: 'pdf'), class: "btn btn-default btn-sm" %></span>
                     <h4 class="title"><%= @stock_transfer.destination_branch.try(:name).try(:upcase) %></h4>
                                <i class="icon-calendar"></i> <%= @stock_transfer.date.strftime("%B %e, %Y") %><br>

                            </div>
              <hr>
              <% @stock_transfer.line_items.each do |line_item| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= line_item.quantity %> <%= line_item.product_unit %>
                  </div>
                  <div class="col-md-5">
                    <%=line_item.product_name %><br>
                    <small class="text-muted"><%= line_item.barcode %></small>
                  </div>
                  <div class="col-md-3">
                    <span class="pull-right"><%= number_to_currency line_item.total_cost %></span>
                  </div>
                </div>
                <hr>
                <% end %>
               <% if current_user.proprietor? %>
                <%= link_to 'Delete', stock_transfer_path(@stock_transfer), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete this stock_transfer?"} %>
               <% end %>