<div class="row">
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title"> Settings Section </h3>
      </div>
      <div class="box-body">
        <h4>Branches </h3>
        <p class="help-block">List of branches</p>
          <% Branch.all.each do |branch| %>
          	<p><%= branch.name %></p>
          	<br>
          <% end %>
        <br>
          <%=link_to 'New Branch', new_branch_path, class: "btn btn-danger btn-sm" %>
          <hr>
          <% Section.all.each do |section| %>
            <p><%= section.name %></p>
            <br>
          <% end %>
          <%=link_to 'New Section', new_section_path, class: "btn btn-danger btn-sm" %>
          <hr>
        <h4> Business Info </h4>
          <%= @business.name %>
          <br>
          <%= @business.owner %>
          <br>
          <%= @business.address %>
         <br>
         <br>
         <%= link_to 'Update Business', edit_business_path(@business), class: "btn btn-danger btn-sm" %>
         <hr>
         <h4 class="title"> Employees </h4>
         <%= link_to 'New Employee', new_user_registration_path, class: "btn btn-danger btn-sm" %>
         <br>
         <br>
         <% @users.each do |user| %>
            <div class="row">
            <div class="col-md-4">
                <%= user.full_name %>
              </div>
              <div class="col-md-4">
                <%= user.email %>
              </div>
              <div class="col-md-2">
                <%= user.role %><br>
                <%= user.section.try(:name) %>
              </div>
              <div class="col-md-2">
                <%=link_to 'Edit Info', edit_user_path(user), class: "btn btn-danger btn-xs" %>
              </div>
            </div>
            <br>
         <% end %>
         <hr>
         <h4 class="title">Import Products </h4>
         <%= simple_form_for @registry, multipart: true, method: :create do |f| %>
            <%= f.input :spreadsheet, as: :file %>
              <%= f.submit 'Import Products', class: 'btn btn-danger' %>
        <% end %>
        <hr>
        <h4 class="title"> Merge Supplier Accounts </h4>
        <p class="category"> Merge supplier accounts that are duplicated. </p>
<%= link_to 'New Supplier Merging', new_suppliers_merge_account_path, class: "btn btn-danger" %>
