
<div class="card card-solid">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h4 class="title">Customers</h4>
        <p class="category">List of customers</p>
      </div>
      <div class="col-md-7">
        <%=form_tag customers_path, method: :get, id: "search-form" do %>
          <div class="input-group stylish-input-group">
            <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search customer", type: "search" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn") do %>
                <i class="icon-magnifier"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-2">
        <%=link_to 'New Customer', new_customer_path, class: "btn btn-primary float-right" %>
      </div>
    </div>
  </div>
</div>
<% @customers.each do |customer| %>
  <%= link_to customer do %>
    <div class='card min-margin'>
      <div class='card-body'>
        <div class="row">
          <div class="col-md-1">
            <%= image_tag(customer.avatar, height: 50, width: 50, class: 'img-circle') %>
          </div>
          <div class="col-md-6">
            <b><%= customer.full_name %></b><br>
            <small class="text-muted"><i class="fa fa-phone"></i> <%= customer.contact_number %></small>&nbsp; &nbsp;
            <small class="text-muted"><i class="fa fa-map-marker"></i> <%= customer.address %></small>
          </div>
          <div class="col-md-2">
            <h4 class="subtitle-up min-margin"><%= customer.orders.size %></h4>
            <small class="text-muted"> ORDERS </small>
          </div>
          <div class="col-md-2">
            <h4 class="subtitle-up min-margin"><%= customer.work_orders.size %></h4>
            <small class="text-muted"> REPAIRS </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<center> <%==pagy_bootstrap_nav(@pagy) %></center>
                              
