
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-solid">
                            <div class="card-header">
                              <div class="row">
                                <div class="col-md-3">
                                  <h4 class="title">Customers</h4>
                                  <p class="category">List of customers</p>
                                </div>
                                <div class="col-md-7">
                                  <%=form_tag customers_path, method: :get, id: "search-form" do %>
                                    <div class="input-group stylish-input-group">
                                      <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search customer", type: "search" %>
                                    <span class="input-group-btn">
                                      <%= button_tag(type: 'submit', class: "btn") do %>
                                        <i class="icon-magnifier"></i>
                                      <% end %>
                                    </span>
                        </button>
                                      </span>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="col-md-2">
                                  <%=link_to 'New Customer', new_customer_path, class: "btn btn-primary float-right" %>
                                </div>
                              </div>
                            <div class="card-body table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>

                                      <th>Name</th>
                                    	<th>Address</th>
                                    	<th>Contact</th>
                                      <th>Purchases</th>
                                    </thead>
                                    <tbody>
                                      <% @customers.each do |customer| %>
                                        <tr>
                                          <td><%= image_tag(customer.avatar, height: 45, width: 45, class: "img-circle") %> <%=link_to customer.full_name.try(:titleize), customer %></td>
                                          <td><%= customer.address %></td>
                                          <td><%= customer.contact_number %></td>
                                          <td><%= customer.purchases_count %></td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                  <center> <%= will_paginate @customers %></center>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
