<div class="content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-solid">
        <div class="box-header">
          <h4 class="box-title">New Customer</h4>
          <p class="help-block">New customer details</p>
        </div>
      <div class="content">
<%= simple_form_for @customer do |f| %>
  <%= f.error_notification %>
  <%= f.input :business_id, input_html: { value: current_business.id }, as: :hidden %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :contact_number %>
  <%= f.input :address %>
  <%= f.submit "Save Customer", class: "btn btn-primary" %>
<% end %>
