<div class="content">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-1">
            <%=image_tag(@customer.avatar.url(:medium), class: "img-circle", height: 50, width: 50) %>
          </div>
          <div class="col-md-9">
            <h4 class="title"><%= @customer.full_name.try(:upcase) %></h4>
            <p class="category"> Address </p>
          </div>
        </div>
      </div>
      <br>
<div class="tabbable-line">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#customer-info" data-toggle="tab">
            <i class="fa fa-user"></i> Info </a>
          </li>
          <li>
            <a href="#customer-orders" data-toggle="tab">
            Sales </a>
          </li>
          <li>
            <a href="#customer-work-orders" data-toggle="tab">
            Services </a>
          </li>
          <li>
            <a href="#customer-account" data-toggle="tab">
            Account </a>
          </li>
        </ul>
        <div class="tab-content">
          
            <%= render 'customers/partials/info' %>
             <%=render 'customers/partials/orders' %>
             <%=render 'customers/partials/work_orders' %>
             <%=render 'customers/partials/account' %>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

         