<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-solid">
      <div class="card-header">
        <h4 class="subtitle-up"> Disbursement Details </h4>
      </div>
      <div class="card-body">
        <%= @voucher.description %>
        <hr>
        <p class="text-muted"> DEBITS </p>
        <% @voucher.voucher_amounts.debit.each do |voucher_amount| %>
          <div class="row">
            <div class="col-md-6 offset-md-1">
              <%= voucher_amount.account_name %>
            </div>
            <div class="col-md-3">
              <span class="float-right"> <%= number_to_currency voucher_amount.amount %></span>
            </div>
          </div>
          <br>
        <% end %>
        <p class="text-muted"> CREDITS </p>
        <% @voucher.voucher_amounts.credit.each do |voucher_amount| %>
          <div class="row">
            <div class="col-md-6 offset-md-1">
              <%= voucher_amount.account_name %>
            </div>
            <div class="col-md-3">
              <span class="float-right"> <%= number_to_currency voucher_amount.amount %></span>
            </div>
          </div>
          <br>
        <% end %>
<%= simple_form_for @disbursement, url: :voucher_disbursements do |f| %>
  <%= f.error_notification %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :amount, label: "Payable Amount", input_html: { value: @voucher.payable_amount } %>
  <%= f.input :description, input_html: { value: @voucher.description } %>
  <%= f.input :disburser_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :voucher_id, input_html: {value: @voucher.id }, as: :hidden %>
  <div class="card-footer">
    <%= f.submit "Disburse Voucher", class: "btn btn-primary float-right" %>
  </div>
<% end %>
