<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                              <div class="row">
                                <div class="col-md-3">
                                  <h4 class="title">Sales</h4>
                                  <p class="category">List of sales</p>
                                </div>
                                <div class="col-md-5">
                                  <%=form_tag orders_path, method: :get, id: "search-form" do %>
                                    <div class="input-group">
                                      <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search order...", type: "search" %>
                                      <span class="input-group-btn">
                                        <%= button_tag(type: 'submit', class: "btn") do %>
                                          <i class="icon-magnifier"></i>
                                        <% end %>
                                      </span>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="col-md-4">
                                 <%= form_tag({:action => "index", controller: "orders"}, {:method => :get})  do %>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <button type="submit" class="btn btn-success active"> Go </button>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                      <th>Date</th>
                                    	<th>Customer</th>
                                      <th> Items </th>
                                      <th>Mode of Payment / Type</th>
                                      <th>Discount</th>
                                      <th>Total Cost</th>
                                      <th> Employee </th>
                                    </thead>
                                    <tbody>
                                      <% @orders.each do |order| %>
                                      <tr>
                                      <% if order.line_items.count > 0 %>
                                        <td><%=link_to order.date.strftime("%B %e, %Y"), order %></td>
                                        <td><%= order.customer.try(:full_name).try(:titleize) %>
                                          <% if order.reference_number.present? %>
                                            <br>
                                            <b>#<%=order.reference_number %></b>
                                          <% end %>
                                        </td>
                                        <td>
                                          <% order.line_items.each do |line_item|  %>
                                            <div class="row">
                                              <div class="col-md-9">
                                                <%= line_item.product_name %><br>
                                                <small><i><%= line_item.barcode %></i></small>
                                              </div>
                                              <div class="col-md-1">
                                                <span><%= line_item.quantity %></span>
                                              </div>
                                            </div>
                                            <br>
                                          <% end %>
                                        </td>
                                        <td><span class="label label-<%=order.mode_of_payment_color%>"><%= order.mode_of_payment %></span></td>
                                        <td><%= number_to_currency order.discount_amount%></td>
                                        <td><%= number_to_currency order.line_items_total_cost %></td>
                                        <td><%= order.employee.try(:full_name) %></td>
                                      <% end %>
                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                <center> <%= will_paginate @orders %> </center>
                              </div>

