<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                              
                                  <h4 class="title">Uploaded Stocks <%= @registry.created_at.strftime("%B %e, %Y") %>  </h4>
                                  <p class="category">details of uploaded stocks</p>
                                  <%= link_to 'Delete', registry_path(@registry), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger btn-sm" %>
                              
                              </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                      
                                      <th>Product</th>
                                      <th>Date </th>
                                      <th>Quantity</th>
                                      <% if current_user.proprietor? %>
                                        <th>Unit Cost</th>
                                        <th>Total Cost</th>
                                      <% end %>
                                      <th> Price </th>
                                      <th>Supplier</th>
                                      <th></th>
                                    </thead>
                                    <tbody>
                                      <% @stocks.each do |stock| %>
                                      <tr>
                                      <td><%=link_to stock.name, stock %><br>
                                      <small><%= stock.barcode %></small></td>
                                      <td><%= stock.date.strftime("%B %e, %Y") %></td>
                                      <td><%= stock.quantity %></td>
                                      <% if current_user.proprietor? %>
                                        <td><%= number_to_currency stock.unit_cost %></td>
                                        <td><%= number_to_currency stock.total_cost %></td>
                                      <% end %>
                                      <td><%= number_to_currency stock.retail_price %></td>
                                      <td><%= stock.supplier_business_name %></td>
                                      <td><% if current_user.proprietor? %>
                                      <%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-warning btn-sm" %>
                                          <%= link_to 'Delete', stock_path(stock), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure you want to destroy this stock?"} %>
                                        <% end %>
                                        
                                      </td>
                                      
                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                  <center> <%= will_paginate @stocks %></center>

