<%= simple_form_for @additional_line_item, url: :store_front_module_stock_transfer_additional_line_items do |f| %>
  <%= f.input :unit_of_measurement_id, input_html: { value: stock.unit_of_measurement_id }, as: :hidden %>
  <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
  <%= f.input :stock_id, input_html: { value: stock.id }, as: :hidden %>
  <%= f.input :product_id, input_html: { value: stock.product_id }, as: :hidden %>


   <div class="row">
     <div class="col-md-6">
       <b><%= stock.name.try(:upcase) %></b> <span class="badge bg-success"><%=stock.balance_for_cart_on_transfer(current_cart) %> IN STOCK</span>
       <br>
       <span class="text-muted"><%= stock.barcode %></span><br>

     </div>
     <div class="col-md-4">
       <span class="badge badge-warning">PRICE: <%= number_to_currency stock.unit_of_measurement.try(:price) %></span>
     </div>

     <div class="col-md-3">
     <%= f.input :quantity, as: :string, input_html: { oninput: 'calculateLineItemTotalCost()', id: 'line_item_quantity', value: 1}, autofocus: true %>
   </div>
   <div class="col-md-3">

     <%= f.input :bar_code, input_html: { value: params[:search] } %>

   </div>
   <div class="col-md-3">
     <%= f.input :unit_cost, input_html: { id: 'stock-transfer-line-item-selling-price', value: stock.unit_of_measurement.try(:price) } %>
   </div>

   <div class="col-md-3">
     <br>
     <% if stock.balance <= 0 %>
       <span class="badge bg-red"> OUT OF STOCK </span>
     <% else %>
     <div class="min-margin"></div>


       <%= f.submit "Add to Cart", class: "btn btn-primary" %>
     <% end %>
   </div>
 </div>
<% end %>
