<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-default">
      <div class="card-header bg-gray">
        <center>
          <%= image_tag(@customer.avatar, class: "img-circle",height: 60, width: 60) %>
          <h4><%= @customer.name %></h4>
        </center>
      </div>
      <div class="card-body">
        <%= simple_form_for @other_credit, url: :customer_other_credits do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :amount %>
          <%= f.input :description %>
          <%= f.input :reference_number %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :customer_id, input_html: { value: @customer.id }, as: :hidden %>
          <div class="card-footer">
            <%= f.submit "Save Other Credit", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
