 <div class="content">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="content">
           <%= simple_form_for @post, url: :computer_repair_section_work_order_update do |f| %>
                    <%= f.input :type, label: false, collection: Post.types.map{|a| [a.titleize, a]}, prompt: 'Select Update Type' %>
                    <%= f.input :title, label: false, placeholder: 'Title', required: true %>
                    <%= f.input :content, label: false, placeholder: 'Content', as: :text, input_html: { rows: 4, class: "input-xs" }%>
                    <%= f.input :date, input_html: { value: Time.zone.now }, as: :hidden %>
                    
                    <%= f.submit "Update", class: "btn btn-primary btn-block" %>
                  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>