
<%= link_to 'New Cash on Hand Account', new_cash_on_hand_account_path %>

<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="header">
          <h3 class="title"> Cash Status </h3>
          <p class="category"> status of cash on hand </p>
          <h3 class="title"><center><%= number_to_currency AccountingModule::Asset.find_by(name: "Cash on Hand").balance %></center></h3>
          <br>
          <h4 class="title"> <center>CASH ON HAND PROPRIETOR </center></h4>
            <%= link_to 'New Transfer', new_accounting_fund_transfer_path, class: "btn btn-primary" %>

          <hr>
          <h3 class="title"><center><%= number_to_currency AccountingModule::Asset.find_by(name: "Cash on Hand (Cashier)").balance %></center></h3>
          <br>
          <h4 class="title"><center>CASH ON HAND (TELLER)</center></h4>
          <br>
            <%= link_to 'New Remittance', new_accounting_remittance_path, class: "btn btn-primary" %>
            <br>
            <br>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-6">
              <h4 class="title">Expenses</h4>
              <p class="category"> List of expenses </p>
            </div>
            <div class="col-md-6">
              <%= link_to 'New Expense', new_accounting_expense_path, class: "btn btn-sm btn-danger pull-right" %>
            </div>
          </div>
          <hr>
          <% @expenses.each do |expense| %>
            <div class="row">
              <div class="col-md-8">
                <%= expense.description %><br>
                <small class="text-muted"> <%= expense.user.try(:full_name) %></small>
              </div>
              <div class="col-md-4">
                <%= number_to_currency expense.debit_amounts.sum(:amount) %>
              </div>
            </div>
            <br>
          <% end %>
          <center><%= will_paginate @expenses %></center>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header">
          <h4 class="title">Entries </h4>
          <p class="category"> List of journal entries </p>
          <% @entries.each do |entry| %>
            <div class="row">
              <div class="col-md-8">
                <%= link_to entry.entry_date.strftime("%b %e, %Y"), accounting_entry_path(entry) %><br>
                <%=entry.description %>
              </div>
              <div class="col-md-3">
                <span class="pull-right"><%=number_to_currency entry.credit_amounts.distinct.sum(:amount) %></span>
              </div>
            </div>
            <br>
          <% end %>
          <center><%= will_paginate @entries %></center>
        </div>
      </div>


