<%= link_to 'New Account', new_accounting_account_path %>
<%= link_to 'New Cash on Hand Account', new_cash_on_hand_account_path %>

<%= link_to "Income Statement", income_statement_index_path(format: 'pdf') %>

<%= link_to 'General Ledger', accounting_accounts_path %>
<%= link_to 'New Entry', new_accounting_entry_line_item_path, class: "btn btn-danger" %>
<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
        <% Employees::EmployeeCashAccount.cash_accounts.each do |account| %>
          <div class="row">
            <div class="col-md-8">
              <%= account.name %>
            </div>
            <div class="col-md-4">
              <span class="pull-right">
                <%= number_to_currency account.balance %>
              </span>
            </div>
          </div>
          <hr>

        <% end %>
      </div>
    </div>
  </div>
</div>
