<div class="row">
  <div class="col-md-3">
    <div class='card card-solid'>
      <div class='card-body'>
        <small>WORK ORDERS</small>
        <h3 class="subtitle-up"> <%= @work_orders.count %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class='card card-solid'>
      <div class='card-body'>
        <small>RELEASES <%= @from_date.strftime("%b. %Y").upcase %></small>
        <h3 class="subtitle-up"> <%= @work_orders.released_on(from_date: @from_date, to_date: @to_date).count %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class='card card-solid'>
      <div class='card-body'>
        <small>SERVICE CHARGE PAYMENTS <%= @from_date.strftime("%b. %Y").upcase %></small>
        <h3 class="subtitle-up"> <%= number_to_currency @work_orders.released_on(from_date: @from_date, to_date: @to_date).sum(&:service_charge_payments) %></h3>
      </div>
    </div>
  </div>
</div>
<p> FILTER: </p>
<%= form_tag({:action => "index", controller: "repair_services/per_employee_dashboards", format: 'html'}, { :method => :get} )  do %>
           <%=hidden_field_tag :user_id, @employee.id %>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                </div>
              </div>
              <div class="col-md-3">
                <div clasps="form-group">
                  <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                </div>
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-success"> Generate</button>
              </div>
            </div>
          <% end %>
          <%= link_to 'Export (CSV)', repair_services_per_employee_dashboards_path(from_date: @from_date, to_date: @to_date, user_id: @employee.id, format: 'csv'), class: 'btn btn-outline-primary' %>
  <div class="table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Work Order </th>
          <th> Date Released </th>
          <th> Customer </th>
          <th> Technicians </th>
          <th> Service Charges </th>
          <th> Spare Parts </th>

        </tr>
      </thead>
      <tbody>
        <% @work_orders.each do |work_order| %>
          <tr>
            <td><%= link_to work_order.product_unit.description, computer_repair_section_work_order_path(work_order) %></td>
            <td><%= work_order.release_date.try(:strftime, ('%B %e, %Y')) %> </td>
            <td><%= work_order.customer.full_name %></td>
            <td><% work_order.technicians.each do |technician| %>
                 
                    <%= technician.full_name %> &nbsp;
   
                <% end %>
            </td>
            <td><%= number_to_currency work_order.service_revenue_account.balance %></td>
            <td><%= number_to_currency work_order.sales_revenue_account.balance %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <center> <%==pagy_bootstrap_nav(@pagy) %></center>
  </div>
