<div class="row">
  <div class="col-md-6">
    <div class="card card-solid">
      <div class="card-header">
        <h3 class="subtitle-up">Cash On Hand Accounts</h3>
      </div>
      <div class="card-body">
        <% @accounts.each do |account| %>
        <div class="row">
          <div class="col-md-2">
            <% if User.employee_for(account).present? %>
              <%= image_tag(User.employee_for(account).avatar, height: 45, width: 45, class: "img-circle") %>
            <% end %>
          </div>
          <div class="col-md-6">
            <%= User.employee_for(account).try(:name) %><br>
            <%= link_to account.name, accounting_account_path(account) %>
          </div>
          <div class="col-md-3">
            <b><%= number_to_currency account.balance %></b>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h3 class="subtitle-up"> Bank Accounts </h3>
          </div>
          <div class="col-md-6">
            <span class="float-right">
              <%= link_to 'New Bank Account', new_accounting_bank_account_path, class: "btn btn-primary" %>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% BankAccount.all.each do |bank_account| %>
          <%= link_to accounting_bank_account_path(bank_account) do %>
            <div class="row">
              <div class="col-md-5">
                <b><%=bank_account.bank_name %></b>
              </div>
              <div class="col-md-4">
                <span class="float-right">
                  <%= number_to_currency bank_account.balance %>
                </span>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
