
 <div id="customer-modal" class="modal fade"></div>

<div class="content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="header">
          <h4 class="title condensed-text"> WORK ORDER DETAILS </h4>
        </div>
        <div class="content">
<%= simple_form_for @work_order, url: :computer_repair_section_work_orders, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <span class="pull-right"><%= link_to 'New Customer', new_customer_registration_path, remote: true %></span>
  <%= f.input :customer_id, collection: Customer.all.map{|a| [a.full_name, a.id] } %>
  <%= f.simple_fields_for :product_unit do |ff| %>
  <%= ff.input :description, label: "Manufacturer/Description" %>
  <%= ff.input :model_number %>
  <%= ff.input :serial_number %>
  <% end %>
  <%= f.input :physical_condition %>
  <%= f.input :reported_problem, as: :text %>
  <%= f.input :under_warranty %>
  <div id="warranty-details" display="none">
    <%= f.input :supplier_id, collection: Supplier.all.map{|a| [a.business_name, a.id] } %>
    <%= f.input :purchase_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :expiry_date, as: :string, input_html: { class: "datepicker" } %>
  </div>

  <%= f.input :service_number, input_html: { value: WorkOrder.generate_number_for(@work_order) }, as: :hidden %>
  <%= f.submit "Save Work Order", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
</div>
</div>
<script>
  var under_warranty_checkbox = document.getElementById('work_order_under_warranty');
  var under_warranty_details_div = document.getElementById('warranty-details');
  under_warranty_checkbox.onchange = function() {
     if(this.checked) {
       under_warranty_details_div.style['display'] = 'block';
     } else {
       under_warranty_details_div.style['display'] = 'none';
     }
  };
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#work_order_customer_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#work_order_supplier_id").select2({
      theme: "bootstrap"
    });
  });
</script>

