<div class="content">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="header">
          <h4 class="title condensed-text"> PRODUCT DETAILS </h4>
        </div>
        <div class="content">
<%= simple_form_for @work_order, url: :computer_repair_section_work_orders, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :customer_id, collection: Customer.all.map{|a| [a.full_name, a.id] } %>
  <%= f.simple_fields_for :product_unit do |ff| %>
  <%= ff.input :description, label: "Manufacturer/Description" %>
  <%= ff.input :model_number %>
  <%= ff.input :serial_number %>
  <% end %>
  <%= f.input :physical_condition %>
  <%= f.input :reported_problem, as: :text %>
  <%= f.submit "Save" %>
<% end %>
