
 <div id="customer-modal" class="modal fade"></div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card card-solid">
        <div class="card-header">
          <h4 class="subtitle-up condensed-text"> WORK ORDER DETAILS </h4>
        </div>
        <div class="card-body">
<%= simple_form_for @work_order, url: :computer_repair_section_work_orders do |f| %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
  <%= f.error_notification %>
  <%= f.input :technician_id, label: 'Assigned To:', collection: current_store_front.employees.technician.map{|a| [a.full_name, a.id] }, default: current_user, input_html: { class: 'chosen-select' } %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
  <%= f.input :work_order_category_id, label: 'Category', collection: WorkOrderCategory.all.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :date_received, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :store_front_id, input_html: { value: current_user.store_front_id }, as: :hidden %>
  <span class="float-right"><%= link_to 'New Customer', new_customer_registration_path, remote: true %></span>

  <%= f.input :customer_id, label: 'Customer', collection: Customer.all.map{|a| [a.full_name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :contact_person %>
  <%= f.input :department_id, collection: Department.all.map{ |a| [a.customer_name_and_department, a.id] }, input_html: { class: 'chosen-select' } %>


  <%= f.input :description, label: "Manufacturer/Description" %>
  <%= f.input :model_number %>
  <%= f.input :serial_number %>

  <%= f.input :physical_condition %>
  <%= f.input :reported_problem, as: :text %>
  <%= f.input :under_warranty, as: :boolean %>
  <%= f.input :section_id, input_html: { value: current_user.try(:section_id) }, as: :hidden %>
  <div id="warranty-details" display="none">
    <%= f.input :supplier_id, collection: Supplier.all.map{|a| [a.business_name, a.id] }, input_html: { class: 'chosen-select' } %>
    <%= f.input :purchase_date, as: :string, input_html: { class: "datepicker" } %>

    <%= f.input :expiry_date, as: :string, input_html: { class: "datepicker" } %>
  </div>
  <hr>
    <%= f.submit "Save Work Order", class: "btn btn-primary float-right" %>

<% end %>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
  var under_warranty_checkcard = document.getElementById('work_order_under_warranty');
  var under_warranty_details_div = document.getElementById('warranty-details');
  under_warranty_checkcard.onchange = function() {
     if(this.checked) {
       under_warranty_details_div.style['display'] = 'block';
     } else {
       under_warranty_details_div.style['display'] = 'none';
     }
  };
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#work_orders_registration_customer_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#work_orders_registration_department_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#work_orders_registration_supplier_id").select2({
      theme: "bootstrap"
    });
  });
  $(document).ready(function() {
    $("#work_orders_registration_work_order_category_id").select2({
      theme: "bootstrap"
    });
  });
</script>
