<div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h3 class="title-up">#<%= @work_order.service_number %> - <%= @work_order.description.try(:upcase) %> </h3>
              <br>
              <%= link_to 'Update Info', edit_computer_repair_section_work_order_path(@work_order), class: "btn btn-sm btn-outline-warning" %>
              <% if current_user.proprietor? %>
                <%= link_to computer_repair_section_work_order_path(@work_order), method: :delete do %>
                  <span class="btn btn-sm btn-outline-danger"><i class="fa fa-times"></i> Delete</span>
                <% end %>
              <% end %>
              <br><br>
              <% @work_order.technicians.each do |technician| %>
                <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                    <%= image_tag(technician.avatar, class: "img-circle", height: 45, width: 45) %>
                </span>
              <% end %><br>
              <small class="condensed-text">TECHNICIANS</small>
            </div>
            <div class="col-md-5">
              <% if current_user.technician? || current_user.proprietor? %>
                <%= simple_form_for @work_order, url: :computer_repair_section_work_order do |f| %>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.input :status, label: false, collection: WorkOrder.statuses.keys.to_a.map{|a| [a.titleize, a]}, input_html: { class: 'chosen-select' } %>
                    </div>
                    <div class="col-md-4">
                      <%= f.submit "Update Status", class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="subtitle-up">WORK ORDER DETAILS </h4>
              <div class="row min-margin">
                <div class="col-md-6">
                  <b>Customer</b>
                </div>
                <div class="col-md-6">
                  <%= @work_order.customer_full_name %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  <b>Date Received</b>
                </div>
                <div class="col-md-6">
                  <%= @work_order.date_received.strftime("%B %e, %Y") %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  <b>Contact Person</b>
                </div>
                <div class="col-md-6">
                  <%= @work_order.contact_person %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  Department
                </div>
                <div class="col-md-6">
                  <%= @work_order.department.try(:customer_name_and_department) %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  Contact Number
                </div>
                <div class="col-md-6">
                  <%= @work_order.customer_contact_number %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  Date Received
                </div>
                <div class="col-md-6">
                  <%= @work_order.created_at.strftime("%B %e, %Y") %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  Reported Problem
                </div>
                <div class="col-md-6">
                  <%= @work_order.reported_problem %>
                </div>
              </div>
              <div class="row min-margin">
                <div class="col-md-6">
                  Elapsed Time
                </div>
                <div class="col-md-6">
                  <%= distance_of_time_in_words(@work_order.created_at, Time.zone.now) %>
                </div>
              </div>
              <div class="row min-margin">
              <div class="col-md-6">
                  Release Date
                </div>
                <div class="col-md-6">
                    <%= @work_order.release_date.try(:strftime, ("%B %e, %Y")) %>

                </div>
              </div>
              <hr>
              <% if @work_order.under_warranty? %>
                <p> Warranty Details </p>
                <div class="row">
                <div class="col-md-6">
                  Supplier
                </div>
                <div class="col-md-6">
                  <%= @work_order.supplier.try(:business_name) %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  Purchase Date
                </div>
                <div class="col-md-6">
                  <%= @work_order.purchase_date.strftime("%B %e, %Y") %>
                </div>
              </div>
              <br><div class="row">
              <div class="col-md-6">
                  Release Date
                </div>
                <div class="col-md-6">
                    <%= @work_order.release_date.try(:strftime, ("%B %e, %Y")) %>

                </div>
              </div>
              <br>
              <% end %>

              <h4 class="subtitle-up">Charge Invoice</h4>
                <% if @work_order.charge_invoice.blank? %>
                <%= link_to 'Add Charge Invoice Number', new_computer_repair_section_work_order_charge_invoice_path(@work_order), class: "btn btn-primary" %>
                <% else %>
                <%= @work_order.charge_invoice.try(:number) %>
                <%= link_to 'Edit', edit_charge_invoice_path(@work_order.charge_invoice) %>
                <% end%>

                <hr>
            </div>
            <div class="col-md-5 offset-md-1">
              <h4 class="subtitle-up">REPORTS </h4>
              <%= link_to 'CLAIM TAG', computer_repair_section_work_order_service_claim_tag_path(@work_order, format: 'pdf'), class: "btn btn-outline-secondary"  %><br><br>
              <small class="condensed-text">RELEASE FORM</small><br>
              <% if @work_order.released?%>
                <%= link_to 'RELEASE FORM', computer_repair_section_work_order_path(@work_order, format: 'pdf'), class: "btn btn-outline-secondary"  %>
              <% else %>
              <small class="text-danger"> Work Order status is <span class="label label-danger"><%= @work_order.status%></span> and cannot be released yet </small>
              <% end %>

              <%#= link_to 'CHARGE INVOICE', computer_repair_section_work_order_path(@work_order, format: 'pdf'), class: "label label-default" %>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-solid">
            <div class="card-header">
              <div class="row">
                <div class="col-md-7">
                  <h4 class="subtitle-up"> SERVICE CHARGES </h4>
                </div>
                <div class="col-md-5">
                  <% if !@work_order.released? %>
                    <%= link_to 'Add Charges', new_repair_services_module_work_order_service_charge_processing_path(@work_order), class: 'btn btn-outline-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="card-header">
              <% @work_order.service_charges.each do |charge| %>
                <div class="row">
                  <div class="col-md-1 hidden-xs">
                  </div>
                  <div class="col-md-7 col-xs-8">
                    <%= charge.description %>
                  </div>
                  <div class="col-md-4 col-xs-4">
                    <span class="float-right badge badge-warning"><%= number_to_currency charge.amount %></span>
                  </div>
                </div>
                <hr>
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
               <div class="row">
                <div class="col-md-8">
                  <h4 class="subtitle-up"> SPARE PARTS </h4>
                </div>
                <div class="col-md-4">
                  <% if !@work_order.released? %>
                    <%=link_to 'Add Parts', new_repair_services_module_work_order_repair_service_order_line_item_processing_path(@work_order), class: 'btn btn-outline-primary' %>
                  <% end %>
                </div>
              </div>
              <br>
              <% @work_order.sales_order_line_items.each do |spare_part| %>
                <div class="row">

                  <div class="col-md-1">
                    <%= spare_part.quantity.to_i %>
                  </div>
                  <div class="col-md-7 col-xs-6">

                    <%= spare_part.product_name %><br>
                    <small class="text-muted"><%= spare_part.try(:order).try(:date).try(:strftime, ("%B %e, %Y")) %></small><br>
                    <small class="text-muted"><%= spare_part.bar_code %></small>
                  </div>
                  <div class="col-md-3 col-xs-5">
                    <span class="float-right badge badge-warning"><%= number_to_currency spare_part.total_cost %></span>
                  </div>
                  <div class="col-md-1">
                    <% if current_user.proprietor? %>
                      <%= link_to repair_services_module_work_order_spare_part_cancellation_path(work_order_id: @work_order.id, line_item_id: spare_part.id), data: { confirm: 'Are you sure you want to delete this item?' }, method: :delete do %>
                        <span class="text-danger"><i class="fa fa-times"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <hr>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="subtitle-up"> PAYMENT DETAILS </h4>
                </div>
                <div class="col-md-6">
                  <% if current_user.proprietor? || current_user.sales_clerk? %>
                    <%=link_to 'New Payment / Advance Payment', new_repair_services_module_work_order_payment_processing_path(@work_order), class: 'btn btn-outline-primary' %>
                  <% end %>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-6">
                  <p class="title-up"> RECEIVABLES </p>
                </div>
                <div class="col-md-6">
                  <p class="title-up float-right"> <%=number_to_currency @work_order.accounts_receivable_total %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="title-up"> CASH PAYMENTS / RETURNS </p>
                </div>
                <div class="col-md-6">
                  <p class="title-up float-right"> <%=number_to_currency @work_order.payments_total %></p>
                </div>
              </div>
              <hr class="min-margin">
              <div class="row">
                <div class="col-md-6">
                  <p class="title-up"> BALANCE </p>
                </div>
                <div class="col-md-6">
                  <p class="title-up float-right"> <%=number_to_currency @work_order.balance_total %></p>
                  <% if @work_order.balance_total < 0 %>
                  <%= link_to 'New Refund', new_computer_repair_section_work_order_refund_path(@work_order), class: "btn btn-danger btn-xs float-right" %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">

              <h4 class="subtitle-up"> TRANSACTIONS HISTORY </h4>
              <p class="text-muted"> List of payments, credit orders and charges </p>
              <hr>
              <% @work_order.payment_entries.each do |payment| %>
                <div class="row">

                  <div class="col-md-10">
                      <span><%= payment.description %></span><br>
                      <span class="text-muted">
                      <%= payment.entry_date.strftime("%b %e") %>
                      <% if payment.recorder.present? %>
                        <small><%= payment.recorder.full_name %></small><br>
                      </span>
                      <% end %>
                      <span class="badge badge-warning"><%= number_to_currency payment.amount %></span>

                  </div>

                  <div class="col-md-2">
                    <% if current_user.proprietor? %>
                      <%=link_to entry_path(payment.entry), method: :delete do %>
                        <span class="float-right" data-toggle='tooltip' title="Cancel Transaction"><i class="fa fa-times text-danger"></i></span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <hr>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-4">
  <div class="card card-solid">
      <div class="card-body">
        <h4 class="subtitle-up"> Update Work Order </h4>
        <%= simple_form_for @post, url: :computer_repair_section_work_order_updates do |f| %>
          <%= f.input :type, label: false, collection: Post.types.map{|a| [a.titleize, a]}, prompt: 'Select Update Type', input_html: { class: 'chosen-select' } %>
          <%= f.input :title, label: false, placeholder: 'Title', required: true %>
          <%= f.input :content, label: false, placeholder: 'Content', as: :text, input_html: { rows: 4, class: "input-xs" }%>
          <%= f.input :date, input_html: { value: Time.zone.now }, as: :hidden %>
          <%= f.input :updateable_id, input_html: { value: @work_order.id }, as: :hidden %>
          <%= f.input :updateable_type, input_html: { value: @work_order.class }, as: :hidden %>
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        <% end %>
  <br>
  <hr>
<% @work_order.work_order_updates.each do |work_update| %>
<% if work_update.id? %>

  <div class="row">
   <div class="col-md-2">
     <div class="min-margin"></div>
     <% if work_update.user.present? %>
       <%= image_tag(work_update.user.avatar, class: "img-circle", height: 45, width: 45) %>
     <% end %>
   </div>


    <div class="col-md-9">
      <b><%= work_update.user.try(:full_name) %></b>
       <% if work_update.date %>
      <small class='text-muted'><i class="fa fa-clock-o"></i> <%= work_update.date.strftime("%b %e, %l:%M %p") %></small><br>
    <% end %>
      <span><%= work_update.title.try(:upcase) %></b></span><br>
      <span class="text-muted"><%= work_update.content %></span><br>


      <span class="badge bg-gray"><%= work_update.type.try(:titleize).try(:downcase) %></span>



    </div>
    <div class="col-md-1">
      <%= link_to computer_repair_section_work_order_update_path(work_update), method: :delete do %>
        <span class="text-danger" title="Remove" data-placement="top" data-toggle="tooltip"><i class="fa fa-times"></i> </span>
      <% end %>
    </div>
  </div>
  <hr>
  <% end %>
  <% end %>
</div>
</div>
<div class="card card-outline card-secondary">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h4 class="subtitle-up"> Accessories </h4>
      </div>
      <div class="col-md-6">
        <%=link_to 'Add Accessories', new_product_unit_accessory_path(@work_order.product_unit, work_order_id: @work_order.id), class: 'btn btn-outline-primary' %>
      </div>
    </div>
    <hr>
      <% @work_order.accessories.each do |accessory| %>
    <div class="row">
      <div class="col-md-4">
        <%=accessory.quantity.to_i %>
      </div>
      <div class="col-md-6">
        <%= accessory.description %><br>
        <small><%= accessory.serial_number.try(:upcase) %></small>
      </div>
      <div class="col-md-2">
         <%= link_to accessory_path(accessory), method: :delete do %>
            <span class="text-danger fa fa-trash"></span>
          <% end %>
      </div>
    </div>
    <br>
    <% end %>
</div>
</div>
