
  <div class="row">
    <div class="col-md-8">
      <div class="box box-solid">
        <div class="box-header">
          <div class="row">
            <div class="col-md-7">
              <h4 class="title condensed-text">#<%= @work_order.service_number.gsub("0", "") %> - <%= @work_order.description.try(:upcase) %> </h4>
              <br>
              <small>STATUS <span class="label label-default"> <%= @work_order.status %></span></small>
              <%= link_to 'Update Info', edit_computer_repair_section_work_order_path(@work_order), class: "btn btn-xs btn-warning" %>
              <% if current_user.proprietor? %>
                <%= link_to computer_repair_section_work_order_path(@work_order), method: :delete do %>
                  <span class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</span>
                <% end %>
              <% end %>
              <br><br>
              <% @work_order.technicians.each do |technician| %>
                <span data-toggle="tooltip" title="<%=technician.first_name %>" data-placement="top">
                    <%= image_tag(technician.avatar.url(:medium), class: "img-circle", height: 35, width: 35) %>
                </span>
              <% end %><br>
              <small class="condensed-text">TECHNICIANS</small>
            </div>
            <div class="col-md-5">
              <% if current_user.technician? || current_user.proprietor? %>
                <%= simple_form_for @work_order, url: :computer_repair_section_work_order do |f| %>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.input :status, label: false, collection: WorkOrder.statuses.keys.to_a.map{|a| [a.titleize, a]} %>
                    </div>
                    <div class="col-md-4">
                      <%= f.submit "Update Status", class: "btn btn-primary btn-sm" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <p class="condensed-text"> DETAILS </p>
              <div class="row">
                <div class="col-md-6">
                  Customer
                </div>
                <div class="col-md-6">
                  <%= @work_order.customer_full_name %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  Contact Number
                </div>
                <div class="col-md-6">
                  <%= @work_order.customer_contact_number %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  Date Received
                </div>
                <div class="col-md-6">
                  <%= @work_order.created_at.strftime("%B %e, %Y") %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  Reported Problem
                </div>
                <div class="col-md-6">
                  <%= @work_order.reported_problem %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  Elapsed Time
                </div>
                <div class="col-md-6">
                  <%= distance_of_time_in_words(@work_order.created_at, Time.zone.now) %>
                </div>
              </div>
              <br>
              <% if @work_order.under_warranty? %>
                <p> Warranty Details </p>
                <div class="row">
                <div class="col-md-6">
                  Supplier
                </div>
                <div class="col-md-6">
                  <%= @work_order.supplier.try(:business_name) %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  Purchase Date
                </div>
                <div class="col-md-6">
                  <%= @work_order.purchase_date.strftime("%B %e, %Y") %>
                </div>
              </div>
              <br><div class="row">
                <div class="col-md-6">
                  Elapsed Time
                </div>
                <div class="col-md-6">
                  <%= @work_order.expiry_date.strftime("%B %e, %Y") %>

                </div>
              </div>
              <br>
              <% end %>
              <div class="row">
                <div class="col-md-6">
                  <p class="condensed-text"> <span class="label label-success"><%= @work_order.accessories.count %> </span> &nbsp; ACCESSORIES </p>
                </div>
                <div class="col-md-6">
                  <%=link_to 'Add Accessories', new_product_unit_accessory_path(@work_order.product_unit, work_order_id: @work_order.id) %>
                </div>
              </div>
              <br />
                <% @work_order.accessories.each do |accessory| %>
              <div class="row">
                <div class="col-md-4">
                  <%=accessory.quantity.to_i %>
                </div>
                <div class="col-md-6">
                  <%= accessory.description %><br>
                  <small><%= accessory.serial_number.try(:upcase) %></small>
                </div>
                <div class="col-md-2">
                   <%= link_to accessory_path(accessory), method: :delete do %>
                      <span class="text-danger fa fa-trash"></span>
                    <% end %>
                </div>
              </div>
              <br>
              <% end %>
              <h4>Charge Invoice</h4>
                <% if @work_order.charge_invoice.blank? %>
                <%= link_to 'Add Charge Invoice Number', new_computer_repair_section_work_order_charge_invoice_path(@work_order), class: "btn btn-primary" %>
                <% else %>
                <%= @work_order.charge_invoice.try(:number) %>
                <%= link_to 'Edit', edit_charge_invoice_path(@work_order.charge_invoice) %>
                <% end%>

                <hr>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <p class="condensed-text">REPORTS </p>
              <%= link_to 'CLAIM TAG', computer_repair_section_work_order_service_claim_tag_path(@work_order, format: 'pdf'), class: "label label-default"  %><br><br>
              <small class="condensed-text">RELEASE FORM</small><br>
              <% if @work_order.released? && @work_order.charge_invoice.present? %>
                <%= link_to 'RELEASE FORM', computer_repair_section_work_order_path(@work_order, format: 'pdf'), class: "label label-default"  %>
              <% else %>
              <small class="text-danger"> Work Order status is <span class="label label-danger"><%= @work_order.status%></span> and cannot be released yet </small>
              <% end %>

              <%#= link_to 'CHARGE INVOICE', computer_repair_section_work_order_path(@work_order, format: 'pdf'), class: "label label-default" %>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header">
              <div class="row">
                <div class="col-md-8">
                  <p class="condensed-text title"> SERVICE CHARGES </p>
                </div>
                <div class="col-md-4">
                  <% if !@work_order.released? %>
                    <%= link_to 'Add Charges', new_repair_services_module_work_order_service_charge_processing_path(@work_order) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="box-header">
              <% @work_order.service_charges.each do |charge| %>
                <div class="row">
                  <div class="col-md-1 hidden-xs">
                  </div>
                  <div class="col-md-7 col-xs-8">
                    <%= charge.description %>
                  </div>
                  <div class="col-md-4 col-xs-4">
                    <span class="pull-right"><%= number_to_currency charge.amount %></span>
                  </div>
                </div>
                <br>
              <% end %>
               <div class="row">
                <div class="col-md-8">
                  <p class="condensed-text title"> SPARE PARTS </p>
                </div>
                <div class="col-md-4">
                  <% if !@work_order.released? %>
                    <%=link_to 'Add Parts', new_repair_services_module_work_order_repair_service_order_line_item_processing_path(@work_order) %>
                  <% end %>
                </div>
              </div>
              <br>
              <% @work_order.spare_parts.each do |spare_part| %>
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-1">
                    <%= spare_part.quantity.to_i %>
                  </div>
                  <div class="col-md-7 col-xs-6">
                    <%= spare_part.product_name %><br>
                    <small class="text-muted"><%= spare_part.date.strftime("%B %e, %Y") %></small>
                  </div>
                  <div class="col-md-3 col-xs-5">
                    <span class="pull-right"><%= number_to_currency spare_part.total_cost %></span>
                  </div>
                </div>
                <br>
              <% end %>
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  <h4 class="condensed-text"><b> TOTAL </b> </h4>
                </div>
                <div class="col-md-4">
                  <h4 class="pull-right"><%= number_to_currency @work_order.total_charges_cost %></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header">
              <div class="row">
                <div class="col-md-8">
                  <p class="condensed-text title"> PAYMENT DETAILS </p>
                </div>
                <div class="col-md-4">
                  <% if current_user.proprietor? || current_user.sales_clerk? %>
                    <%=link_to 'New Payment / Advance Payment', new_repair_services_module_work_order_payment_processing_path(@work_order) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <p class="condensed-text"> RECEIVABLES </p>
                </div>
                <div class="col-md-6">
                  <p class="condensed-text pull-right"> <%=number_to_currency @work_order.accounts_receivable_total %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="condensed-text"> CASH PAYMENTS </p>
                </div>
                <div class="col-md-6">
                  <p class="condensed-text pull-right"> <%=number_to_currency @work_order.payments_total %></p>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <p class="condensed-text"> BALANCE </p>
                </div>
                <div class="col-md-6">
                  <p class="condensed-text pull-right"> <%=number_to_currency @work_order.balance_total %></p>
                </div>
              </div>
              <hr>

              <p class="condensed-text"> PAYMENT HISTORY </p>
              <% @work_order.entries.work_order_payment.each do |payment| %>
                <div class="row">
                  <div class="col-md-3">
                    <% if payment.recorder.present? %>
                      <span data-toggle="tooltip" title="<%=payment.recorder.try(:first_name) %>" data-placement="top">
                      <%= image_tag(payment.recorder.avatar.url(:medium), class: "img-circle", height: 35, width: 35) %><br>
                      <small><%= payment.recorder.full_name %></small>
                    <% end %>
                </span>
                  </div>
                  <div class="col-md-4">
                    <%= payment.entry_date.strftime("%b %e, %l:%M %p") %>
                  </div>
                  <div class="col-md-4">
                    <span class="pull-right"><%= number_to_currency payment.debit_amounts.distinct.pluck(:amount).sum %></span>
                  </div>
                </div>
                <br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-4">
  <div class="box box-solid">
      <div class="box-body">
        <%= simple_form_for Post.new, url: :computer_repair_section_work_order_updates do |f| %>
          <%= f.input :type, label: false, collection: Post.types.map{|a| [a.titleize, a]}, prompt: 'Select Update Type' %>
          <%= f.input :title, label: false, placeholder: 'Title', required: true %>
          <%= f.input :content, label: false, placeholder: 'Content', as: :text, input_html: { rows: 4, class: "input-xs" }%>
          <%= f.input :date, input_html: { value: Time.zone.now }, as: :hidden %>
          <%= f.input :updateable_id, input_html: { value: @work_order.id }, as: :hidden %>
          <%= f.input :updateable_type, input_html: { value: @work_order.class }, as: :hidden %>
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        <% end %>
  <br>
  <hr>
  <p class="condensed-text">UPDATES </p>
<% @work_order.work_order_updates.each do |work_update| %>

  <div class="row">
    <div class="col-md-2">
    <% if work_update.user.present? %>
      <%= image_tag(work_update.user.avatar.url(:medium), class: "img-circle", height: 40, width: 40) %>
    <% end %>
    </div>
    <div class="col-md-10">

      <small class="condensed-text"><b><%= work_update.title.try(:upcase) %></b></small><br>
      <%= work_update.content %><br>
       <% if work_update.id? %>
      <%= link_to computer_repair_section_work_order_update_path(work_update), method: :delete do %>
        <span class="text-danger" title="Remove" data-placement="top" data-toggle="tooltip"><i class="fa fa-trash"></i> </span>
      <% end %>
    <% end %>
      <span class="label label-warning"><%= work_update.type.try(:titleize).try(:downcase) %></span>
      <% if work_update.date %>
      <small class='text-black pull-right'><i class="fa fa-clock-o"></i> <%= work_update.date.strftime("%b %e, %l:%M %p") %></small><br>
    <% end %>

    </div>
  </div>
  <hr>
  <% end %>
