<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills nav-pills-underline">
        <li class="nav-item">
          <%= link_to "Summary", insights_path, class: "nav-link  #{ 'active' if current_page?(insights_path) }" %>
        </li>
        <li class="nav-item">
          <%= link_to "Repairs", insights_repairs_path, class: "nav-link  #{ 'active' if current_page?(insights_repairs_path) }" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sales", insights_sales_path, class: "nav-link  #{ 'active' if current_page?(insights_sales_path) }" %>
        </li>
        <li class="nav-item">
          <%= link_to "Receivables", insights_receivables_path, class: "nav-link  #{ 'active' if current_page?(insights_receivables_path) }" %>
        </li>
      </ul>
      <br>
      <% if current_page? insights_repairs_path %>
        <%= render 'insights/partials/repairs' %>
      <% end %>
      <% if current_page? insights_sales_path %>
        <%= render 'insights/partials/sales' %>
      <% end %>
       <% if current_page? insights_receivables_path %>
        <%= render 'insights/partials/receivables' %>
      <% end %>
    </div>
  </div>
</div>
