<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="box-title"> Service Charge Details </h4>
      </div>
      <div class="box-body">
        <%=simple_form_for [@work_order, @service_charge], url: :repair_services_module_work_order_service_charge_processings do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :description %>
          <%= f.input :amount %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :work_order_id, input_html: { value: @work_order.id }, as: :hidden %>
          <%= f.input :customer_id, input_html: { value: @work_order.customer_id }, as: :hidden %>

          <div class="box-footer">
            <%= f.submit "Create Charge", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
