<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header">
          <div class="row">
            <div class="col-md-1">
              <%=image_tag(@product.avatar.url(:medium), class: "img-square", height: 50, width: 50) %>
            </div>
            <div class="col-md-9">
              <h4 class="title"><%= @product.name.try(:upcase) %></h4>
              <p class="category"> <%= @product.description %> </p>
              <div class="row">
                <div class="col-md-3">
                  <h4><%= @product.purchases_balance %></h4>
                  <small>PURCHASES</small>
                  <h4><%= @product.received_stock_transfers_balance %></h4>
                  <small>RECEIVED STOCK TRANSFERS</small>
                   <h4><%= @product.stock_transfers_balance %></h4>
                  <small>STOCK TRANSFERS</small>
                </div>
                <div class="col-md-3">
                  <h4><%= @product.sales_balance %></h4>
                  <small>SALES</small><br><br>
                  <small class="text-danger"><%= @product.sales_returns_balance %></small><br>
                  <small>SALES RETURNS</small>
                </div>
                <div class="col-md-3">
                  <h4><%= @product.available_quantity %></h4>
                  <small>AVAILABLE QTY</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <ul class="nav nav-tabs">
            <li class="<%= 'active' if current_page?(product_path(@product)) %>">
             <%= link_to 'Info', product_path(@product) %>

            </li>
            <li class="<%= 'active' if current_page?(product_orders_path(@product)) %>">
             <%= link_to 'Sales', product_orders_path(@product) %>
            </li>
            <li class="<%= 'active' if current_page?(product_stocks_path(@product))%>">
              <%= link_to 'Stocks', product_stocks_path(@product) %>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="tab_default_1">

            </div>
              <% if current_page? product_path(@product) %>
               <%=render 'products/partials/info' %>
               <% end %>
              <% if current_page? product_orders_path(@product) %>
               <%=render 'products/partials/sales' %>
               <% end %>
               <% if current_page? product_stocks_path(@product) %>
                 <%=render 'products/partials/stocks' %>
               <% end %>
