<div class="content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-warning">
        <div class="card-header">
          <h4 class="subtitle-up">Edit Product</h4>
          <p class="text-muted">Details for this new product</p>
        </div>
      <div class="card-body">
        <%= simple_form_for @product do |f| %>
          <center>
            <%if @product.avatar.blank? %>
              <%=image_tag("default_product_logo.jpg", height: 80, width: 80, :class=>"img-square") %>
            <% else %>
              <%= image_tag @product.avatar.url(:large), class: 'center-block img-responsive img-rounded'%>
            <% end %>
            <%= f.input :avatar, as: :file, label: "Product photo" %>
          </center>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category_id, label: "Category", collection: Category.all.map{|a| [a.name, a.id] } %>
          <%= f.input :low_stock_count, as: :string %>
          <div class="row">
          <div class="col-md-6">
              <%=link_to "Cancel", products_path, class: "btn btn-default pull-left" %>
            </div>
            <div class="col-md-6">
              <%= f.submit "Update Product", class: "btn btn-primary float-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#product_category_id").select2({
      theme: "bootstrap"
    });
  });
</script>

