
<div class="row">
  <div class="col-md-12">
    <div class="card card-solid">

      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h4 class="title-up">Products</h4>
          </div>
          <div class="col-md-6">
            <%=form_tag products_path, method: :get, id: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search product...", type: "search" %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                     Browse Products
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <% if policy(:product).new? %>
              <%=link_to 'New Product', new_product_path, class: "btn btn-primary float-right" %>
            <% end %>
          </div>
        </div>
        <br>
        <div class="table-responsive table-full-width">
            <table class="table table-striped">
                <thead>

                  <th>Name</th>
                	<th>Price</th>
                  <% if current_user.proprietor? %>
                    <th>Last Purchase Cost</th>
                  <% end %>

                </thead>
                <tbody>
                  <% @products.each do |product| %>
                  <tr>
                  <td><%=link_to product.name, product %><br>
                    <small class="badge badge-warning"><%= product.category_name %> </small>

                  </td>
                  <td>
                    <% product.unit_of_measurements.each do |unit_of_measurement| %>
                      <% if unit_of_measurement.price_for_store_front(store_front: current_store_front).present? %>
                        <%= number_to_currency unit_of_measurement.price_for_store_front(store_front: current_store_front) %>
                      <% end %>
                    <% end %>
                   </td>
                   <% if current_user.proprietor? %>
                     <td><%= number_to_currency product.try(:last_purchase_cost) %></td>
                    <% end %>

                  </tr>
                  <% end %>
                </tbody>
              </table>
              <center>
                <%==pagy_bootstrap_nav(@pagy) %>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
