
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <div class="nav nav-tabs">
          <ul class="nav nav-tabs">
            <li class=<%='active' if current_page?(products_path) %>>
              <%= link_to 'All Products', products_path %>
            </li>
             <li class=<%='active' if current_page?(out_of_stock_products_path) %>>
              <%= link_to 'Out of Stock', out_of_stock_products_path %>
            </li>
            <li class=<%='active' if current_page?(low_on_stock_products_path) %>>
              <%= link_to 'Low on Stock', low_on_stock_products_path %>
            </li>
          </ul>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <h4 class="title">Products</h4>
          </div>
          <div class="col-md-6">
            <%=form_tag products_path, method: :get, id: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search product...", type: "search" %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn") do %>
                    <i class="icon-magnifier"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <% if policy(:product).new? %>
              <%=link_to 'New Product', new_product_path, class: "btn btn-primary pull-right" %>
            <% end %>
          </div>
        </div>
        <div class="table-responsive table-full-width">
            <table class="table table-striped">
                <thead>

                  <th>Name</th>
                	<th>Price</th>
                	<th>In Stock</th>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                  <tr>
                  <td><%=link_to product.name, product %></td>
                  <td><% product.unit_of_measurements.each do |unit_of_measurement| %>
                      <%= number_to_currency unit_of_measurement.price %> / <%= unit_of_measurement.unit_code %>
                    <% end %>
                   </td>
                  <td><%= product.balance %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <center>
                <%= will_paginate @products, renderer: WillPaginateHelper::ProductRootedLinkRenderer, format: :html  %>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>


