<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                              <div class="row">
                                <div class="col-md-2">
                                  <h4 class="title">Products</h4>
                                  <p class="category">List of products</p>
                                </div>
                                <div class="col-md-5">
                                  <%=form_tag products_path, method: :get, id: "search-form" do %>
                                    <div class="input-group">
                                      <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search product...", type: "search" %>
                                      <span class="input-group-btn">
                                        <%= button_tag(type: 'submit', class: "btn") do %>
                                          <i class="icon-magnifier"></i>
                                        <% end %>
                                      </span>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="col-md-2">
                                  <% if policy(:product).new? %>
                                    <%=link_to 'New Product', new_product_path, class: "btn btn-primary pull-right" %>
                                  <% end %>
                                </div>
                                <div class="col-md-2">
                                  <%= simple_form_for @registry, multipart: true, method: :create do |f| %>
                                    <%= f.input :spreadsheet, as: :file, label: false %>
                                      <%= f.submit 'Import Products', class: 'btn btn-danger btn-xs' %>
                                  <% end %>
                                </div>
                              </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                      
                                      <th>Name</th>
                                    	<th>Price</th>
                                    	<th>Deliveries</th>
                                      <th>Sold</th>
                                      <th> Transferred </th>
                                      <th> Sales Return </th>
                                      <th> Under Warranty </th>
                                      <th> Released Warranty </th>

                                    	<th>In Stock</th>
                                    </thead>
                                    <tbody>
                                      <% @products.each do |product| %>
                                      <tr>
                                      <td><%=link_to product.name, product %></td>
                                      <td><%= number_to_currency product.retail_price %></td>
                                      <td> <%= number_to_currency product.delivered_items_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.sold_items_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.transferred_stocks_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.returned_items_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.items_under_warranty_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.released_warranties_count, unit: "" %></td>


                                      <td> <%= number_to_currency product.in_stock, unit: "" %></td>
                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                  <center> <%=paginate @products %></center>
