
<div class="content">
                
                        <div class="card">
                          <div class="content">
                          <div class="row">
                    <div class="col-md-12">
 <div class="nav-tabs-navigation">
        <ul class="nav nav-tabs">
          <li class=<%='active' if current_page?(products_path) %>>
            <%= link_to 'All Products', products_path %>
            
          </li>
           <li class=<%='active' if current_page?(out_of_stock_products_path) %>>
            <%= link_to 'Out of Stock', out_of_stock_products_path %>
          </li>
          <li class=<%='active' if current_page?(low_on_stock_products_path) %>>
            <%= link_to 'Low on Stock', low_on_stock_products_path %>
          </li>
        </ul>
      </div>

            
                            <div class="header">
                              <div class="row">
                                <div class="col-md-2">
                                  <h4 class="title">Out of Stock Products</h4>
                                  <p class="category">List of out of stock products</p>
                                </div>
                                <div class="col-md-5">
                                  <%=form_tag products_path, method: :get, id: "search-form" do %>
                                    <div class="input-group">
                                      <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search product...", type: "search" %>
                                      <span class="input-group-btn">
                                        <%= button_tag(type: 'submit', class: "btn") do %>
                                          <i class="icon-magnifier"></i>
                                        <% end %>
                                      </span>
                                    </div>
                                  <% end %>
                                </div>
                                
                              </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                      
                                      <th>Name</th>
                                      <th>Price</th>
                                      <th>Deliveries</th>
                                      <th>Sold</th>
                                      <th> Transferred </th>
                                      <th> Sales Return </th>
                                      <th> Under Warranty </th>
                                      <th> Released Warranty </th>

                                      <th>In Stock</th>
                                    </thead>
                                    <tbody>
                                      <% @out_of_stock_products.each do |product| %>
                                      <tr>
                                      <td><%=link_to product.name, product %> <span class="label label-<%=product.badge_color%>"><%= product.in_stock.to_i %> <%=product.unit %> left </span></td>
                                      <td><%= number_to_currency product.retail_price %></td>
                                      <td> <%= number_to_currency product.delivered_items_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.sold_items_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.transferred_stocks_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.returned_items_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.items_under_warranty_count, unit: "" %></td>
                                      <td> <%= number_to_currency product.released_warranties_count, unit: "" %></td>


                                      <td> <%= number_to_currency product.in_stock, unit: "" %></td>
                                      </tr>
                                      <% end %>
                                    </tbody>
                                  </table>
                                  <% if current_page?(products_path) %>
                                  <center><%= paginate @out_of_stock_products, :params => {:controller => "products", action: "index" } %></center>
                                  <% else %>
                                  <center><%= paginate @out_of_stock_products, :params => {:controller => "products", action: "scope_index" } %></center>
                                  <% end %>
