<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-default">
      <div class="card-header">
        <center>
          <%= image_tag(@supplier.avatar, class: "img-circle", height: 60, width: 60) %><br>
          <h3 class="subtitle-up"> <%= @supplier.business_name %></h3>
        </center>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <%= simple_form_for @supplier do |f| %>
              <%= f.error_notification %>
              <%= f.input :business_name %>
              <%= f.input :owner_name %>
              <%= f.input :address %>
              <%= f.input :contact_number %>
              <div class="card-footer">
                <%= f.submit "Update Supplier", class: "btn btn-primary float-right" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
