<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title"> Reports </h4>
          <p class="category"> Generate reports </p>
        </div>
        <div class="content">
          <h4 class="title"> Services </h4>
          <p class="category">Generate report for services</p><br>
          <%= form_tag({:action => "index", controller: "work_orders", format: 'pdf'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div clasps="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="submit" class="btn btn-success"> Generate</button>
                </div>
              </div>
            <% end %>
          <hr>

          <h4 class="title"> Sales </h4>
          <p class="category">Generate report for sales</p><br>
          <%= form_tag({:action => "index", controller: "reports/sales", format: 'pdf'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div clasps="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="submit" class="btn btn-success"> Generate</button>
                </div>
              </div>
            <% end %>
          <%=link_to reports_sales_path(user_id: nil, format: 'pdf', from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day) do %>
	          <p class="category"> Daily Sales </p>
	          <small>Generate report of sales for this day <%=Time.zone.now.strftime("%B %e, %Y") %></small>
	        <% end %>
          <hr>
          <%=link_to reports_sales_path(user_id: nil, format: 'pdf', from_date: Time.zone.now.beginning_of_week, to_date: Time.zone.now.end_of_week) do %>
	          <p class="category"> Weekly Sales </p>
	          <small>Generate report of weekly sales </small>
	        <% end %>
          <hr>
          <%=link_to reports_sales_path(user_id: nil, format: 'pdf', from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month) do %>
             <p class="category"> Monthly Sales </p>
            <small>Generate report of sales for this month <%=Time.zone.now.strftime("%B %Y") %></small>
          <% end %>
          <hr>
          <%=link_to reports_sales_path(user_id: nil, format: 'pdf', from_date: Time.zone.now.beginning_of_year, to_date: Time.zone.now.end_of_year) do %>
	          <p class="category"> Yearly Sales </p>
	          <small>Generate report of sales for this year <%=Time.zone.now.year %></small>
	        <% end %>
          <hr>

          <h4 class="title"> Accounts Receivables </h4>
          <%=link_to reports_accounts_receivables_path(format: 'pdf') do %>
            <p class="category"> Generate Report </p>

          <% end %>
          <hr>
           <%= link_to 'Inventory (Excel)', products_path(@products, format: 'xlsx'), class: "btn btn-primary" %>
