<div class="row">
      <div class="col-md-7">
        <div class="card">

      <div class="card-body">
        <center>
          <%= image_tag(@order.commercial_document.avatar, class: "img-circle", height: 60, width: 60) %><br><br>
        <h3 class="subtitle-up"><%= @order.commercial_document.try(:name).try(:upcase) %></h3>
        </center>


         <span class="float-right"><%= link_to 'Print(PDF)', order_path(@order, format: 'pdf'), class: "btn btn-default btn-sm" %></span>
        <i class="icon-calendar"></i> <%= @order.date.strftime("%B %e, %Y") %><br>
              <% @order.line_items.each do |line_item| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= line_item.quantity %> <%= line_item.unit_code %>
                  </div>
                  <div class="col-md-4">
                    <%=line_item.product_name %><br>
                    <small class="text-muted"><%= line_item.bar_code %></small>
                  </div>
                  <div class="col-md-2">
                    <span class="float-right"><%= number_to_currency line_item.total_cost %></span>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
                <hr>
                <% end %>

          </div>
</div>
</div>

  <div class="col-md-5">
    <div class="card card-default">
      <div class="card-header with-border">
        <div class="row">
          <div class="col-md-6">
            <h4 class="title-up">TOTAL</h4>
          </div>
          <div class="col-md-6">
            <h4 class="title-up">
              <span class="float-right">
                <%= number_to_currency @order.total_cost %>
              </span>
            </h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h4 class="title-up">Balance</h4>
          </div>
          <div class="col-md-6">
            <h4 class="title-up">
              <span class="float-right">
                <%= number_to_currency @order.balance %>
              </span>
            </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <%= simple_form_for [@order, @payment], url: :store_front_module_credit_sales_order_payments do |f| %>
              <%= f.error_notification %>
              <%= f.input :date , as: :string, input_html: { class: "datepicker" } %>
              <%= f.input :amount, as: :string %>

              <span class="help-block"> Input total amount of payment. </span>
              <%= f.input :expense_amount, label: "Discount/Tax", as: :string, input_html: { value: 0 }%>
              <%= f.input :expense_account_id, collection: current_business.accounts.expenses.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
              <%= f.input :order_id, input_html: { value: @order.id }, as: :hidden %>
              <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
              <%= f.input :reference_number, label: "Check No." %>
              <%= f.input :description, label: "Invoice # / PO #" %>
              <% if current_user.proprietor? %>
                <%= f.input :cash_on_hand_account_id, collection: User.cash_on_hand_accounts.map{|a| [a.name, a.id] }, selected: current_user.cash_on_hand_account_id, input_html: { class: 'chosen-select' } %>
              <% else %>
                <%= f.input :cash_on_hand_account_id, input_html: {value: current_user.cash_on_hand_account_id }, as: :hidden %>
              <% end %>

              <div class="card-footer">
                <%= f.submit "Save Payment", class: "btn btn-primary btn-block" %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#store_front_module_payments_credit_sales_order_payment_processing_cash_on_hand_account_id").select2({
      theme: "bootstrap"
    });
     $("#store_front_module_payments_credit_sales_order_payment_processing_expense_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
