<div id="customer-modal" class="modal fade"></div>

<div class="row">
  <div class="col-md-7">
    <div class="card card-default">
      <div class="card-header with-border">
        <div class="row">
          <div class="col-md-6">
            <h4 class="title-up"> RBG Computers, Cellshop & Enterprises </h4>
          </div>
          <div class="col-md-6">
            <%=link_to 'New Other Sales', new_other_sale_path, class: "btn btn-primary float-right" %>
          </div>
        </div>
      </div>
      <div class="card-body">
      <% if params[:search].present? %>
        <%=form_tag store_index_path, method: :get do %>
           <div class="input-group">
             <%= text_field_tag :search, params[:search], id: 'stock-search-form', class: "search-query form-control border-input", placeholder: "Search for items", type: "search" %>
             <span class="input-group-btn">
               <%= button_tag(type: 'submit', class: "btn btn-default", id: 'store-search-button') do %>
                 <i class="icon-magnifier"></i> Browse Products
               <% end %>
             </span>
           </div>
         <% end %>
      <% else %>
        <%=form_tag store_index_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], id: "stock-search-form", class: "search-query form-control border-input", autofocus: true, placeholder: "Search for items", type: "search" %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn btn-default", id: 'stock-search-btn') do %>
                <i class="icon-magnifier"></i> Browse Products
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
      <br>

      <% if @stocks.present? %>
        <%= render 'store/searched_stocks_results' %>
      <% elsif @products.present? %>
        <%= render 'store/searched_products_results' %>
      <% end %>
    </div>
  </div>

      <% if @cart.sales_order_line_items.present? %>
        <div class="card">
    <div class="card-body">
      <h4 class="subtitle-up">Order Details </h4>
      <br>
        <div class="row">
          <div class="col-md-2">
            <b> QTY </b>
          </div>
          <div class="col-md-5">
            <b> DESCRIPTION</b>
          </div>
          <div class="col-md-4">
            <b class="float-right"> TOTAL COST </b>
          </div>
        </div>
        <hr>
        <% @cart.sales_order_line_items.each do |line_item| %>
          <div class="row">
            <div class="col-md-2">
              <%= line_item.quantity %>
            </div>
            <div class="col-md-5">

              <b><%= line_item.name.try(:upcase) %></b>  <span class="badge badge-warning"><%= number_to_currency line_item.unit_cost %></span> <br>
              <span class="text-muted">
                <% if line_item.bar_code.present? %>
                  <small><i class="fa fa-barcode"></i> <%= line_item.bar_code.truncate(30) %></small>
                <% end %>
              </span>
            </div>
            <div class="col-md-4">
              <span class="float-right">
                <%= number_to_currency line_item.total_cost %> &nbsp;
                <%= link_to store_front_module_sales_order_line_item_processing_path(line_item), method: :delete do %>
                  <span class="fa fa-times text-danger" data-toggle="tooltip" title="Remove Item"></span>
                <% end %>
              </span>
            </div>
          </div>
          <hr />
        <% end %>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
            <h4 class="title-up"><b>TOTAL</b> </h4>
          </div>
          <div class="col-md-3">
            <span class="float-right">
              <h4 class="title-up"><b><%= number_to_currency @cart.sales_order_line_items.sum(&:total_cost) %></b></h4>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
      <% if @cart.sales_order_line_items.present? %>
        <div class="col-md-5">
          <div class="card card-default">
            <div class="card-header">
              <div class="row">
                <div class="col-md-7">
                  <h4 class="title-up"><span class="fa fa-shopping-cart"></span> Order Summary</h4>
                </div>
                <div class="col-md-5">
                  <%=link_to cart_path(@cart), method: :delete do %>
                    <span class="btn btn-sm btn-outline-danger float-right" data-toggle="tooltip" title="Remove Cart"><i class="fa fa-times"></i> Cancel Order</span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="card-body">

              <%= simple_form_for @sales_order, url: :store_front_module_sales_order_processings do |f| %>
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <div class="row">
                <div class="col-md-6">
                  <h4 class="title-up"><b> TOTAL </b> </h4>
                </div>
                <div class="col-md-6">
                  <h4 class="title-up">
                    <b class="float-right"><%= number_to_currency @cart.sales_order_line_items.total_cost %></b>
                  </h4>
                </div>
              </div>
              <hr>
                  <%= f.input :date, as: :string, input_html: { id: 'sale-order-date', class: "datepicker" } %>
                  <span><label>Customer</label><span class="float-right"><%= link_to 'New Customer', new_customer_registration_path, remote: true %></span></span>
                  <%= f.input :customer_id, collection: Customer.all.map{ |a| [a.full_name, a.id] }, label: false, input_html: { id: 'selectCustomer', class: 'chosen-select' } %>
                  <div class="row">
                    <div class="col-md-7">
                      <%= f.input :cash_tendered, input_html: { id: 'cash_tendered', oninput: 'calculateOrderTotalCost()',  class: "input-lg" } %>
                    </div>
                    <div class="col-md-5">
                      <%= f.input :discount_amount, label: "Discount", input_html: { id: 'discount_amount', oninput: 'calculateOrderTotalCost()', value: 0} %>
                    </div>
                  </div>
                  <%= f.input :order_change, readonly: true, input_html: { id: 'change', class: "input-lg", value: 0 } %>
                  <%= f.input :reference_number %>
                  <%= f.input :total_cost, input_html: { id: 'total_cost', value: @cart.total_cost }, as: :hidden %>
                  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden  %>
                  <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
                  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>

                  <%= f.submit "Save Order", class: "btn btn-lg btn-primary btn-block" %>
                </div>
              </div>
              <% end %>
              <br>
            </div>
        <% end %>
      </div>
    </div>
</div>

<script type="text/javascript">
function calculateOrderTotalCost() {
  var discountAmount = document.getElementById('discount_amount').value;
  var totalCost = document.getElementById('total_cost').value;
  var cashTendered = document.getElementById('cash_tendered').value;

  var change = document.getElementById('change');
  var result = totalCost - discountAmount;
  var changeResult = cashTendered - result;
  change.value = changeResult;
}
function calculateLineItemTotalCost() {
  var quantity = document.getElementById('line_item_quantity').value;
  var unitCost = document.getElementById('line_item_unit_cost').value;

  var totalCost = document.getElementById('line_item_total_cost');
  var result = quantity * unitCost;
  totalCost.value = result;
}

</script>
