
<div class="row">
  <div class="col-md-7">
    <div class="box box-primary">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-6">
            <h4 class="title"><span class="icon-basket-loaded"></span> Store</h4>
          </div>
          <div class="col-md-6">
            <%=link_to 'New Other Sales', new_other_sale_path, class: "btn btn-primary btn-sm pull-right" %>
          </div>
        </div>
      </div>
      <div class="box-body">
      <% if params[:search].present? %>
        <%=form_tag store_index_path, method: :get do %>
           <div class="input-group">
             <%= text_field_tag :search, params[:search], id: 'store-search-form', class: "search-query form-control border-input", placeholder: "Search for items", type: "search" %>
             <span class="input-group-btn">
               <%= button_tag(type: 'submit', class: "btn btn-dedault", id: 'store-search-button') do %>
                 <i class="icon-magnifier"></i>
               <% end %>
             </span>
           </div>
         <% end %>
      <% else %>
      <%=form_tag store_index_path, method: :get do %>
         <div class="input-group">
           <%= text_field_tag :search, params[:search], id: "store-search-form", class: "search-query form-control border-input", autofocus: true, placeholder: "Search for items", type: "search" %>
           <span class="input-group-btn">
             <%= button_tag(type: 'submit', class: "btn btn-dedault", id: 'store-search-button') do %>
               <i class="icon-magnifier"></i>
             <% end %>
           </span>
         </div>
       <% end %>
    <% end %>

       <br>
       <% if @products.present? %>
         <%= render 'store/searched_products' %>
       <% elsif @line_items.present? %>
         <%= render 'store/searched_line_item_results' %>
       <% end %>
      <% if @cart.sales_order_line_items.present? %>
        <% @cart.line_items.each do |line_item| %>
          <div class="row">
            <div class="col-md-2">
              <center><%= line_item.quantity %></center>
            </div>
            <div class="col-md-5">
              <b><%= line_item.name.try(:upcase) %></b><br>
              <span class="text-muted">
                <% if line_item.bar_code.present? %>
                  <i class="fa fa-barcode"></i> <%= line_item.bar_code %> &nbsp;
                <% end %>
                <i class="fa fa-tags"></i> <%= number_to_currency line_item.unit_cost %>
              </span>
            </div>
            <div class="col-md-4">
              <span class="pull-right">
                <%= number_to_currency line_item.total_cost %> &nbsp;
                <%= link_to store_front_module_sales_order_line_item_processing_path(line_item), method: :delete do %>
                      <span class="fa fa-times text-danger"></span>
                    <% end %>
              </span>
            </div>
          </div>
          <hr />
        <% end %>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
            <h4>TOTAL </h4>
          </div>
          <div class="col-md-3">
            <span class="pull-right">
              <h4><%= number_to_currency @cart.sales_order_line_items.sum(&:total_cost) %></h4>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
      <% if @cart.sales_order_line_items.present? %>
        <div class="col-md-5">
          <div class="box box-default">
            <div class="box-header">
              <div class="row">
                <div class="col-md-9">
                  <h4 class="title"><span class="icon-basket-loaded"></span> Cart</h4>
                </div>
                <div class="col-md-3">
                  <%=link_to cart_path(@cart), method: :delete do %>
                    <i class="fa fa-trash text-danger"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="box-body">

              <%= simple_form_for @sales_order, url: :store_front_module_sales_order_processings do |f| %>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                <div class="col-md-6">
                  <h4> TOTAL </h4>
                </div>
                <div class="col-md-6">
                  <h4>
                    <%= number_to_currency @cart.total_cost %>
                  </h4>
                </div>
              </div>
              <hr>
                  <%= f.input :customer_id, collection: Customer.all.map{ |a| [a.full_name, a.id] } %>
                  <%= f.input :cash_tendered, input_html: { id: 'cash_tendered', oninput: 'calculateOrderTotalCost()',  class: "input-lg" } %>
                  <%= f.input :discount_amount, label: "Discount", input_html: { id: 'discount_amount', oninput: 'calculateOrderTotalCost()', value: 0} %>
                  <%= f.input :order_change, readonly: true, input_html: { id: 'change', class: "input-lg"} %>
                  <%= f.input :reference_number %>
                  <%= f.input :total_cost, input_html: { id: 'total_cost', value: @cart.total_cost }, as: :hidden %>
                  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
                  <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
                  <%= f.submit "Save Order", class: "btn btn-lg btn-success btn-block" %>
                </div>
              </div>
              <% end %>
              <br>
            </div>
        <% end %>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#store_front_module_orders_sales_order_processing_customer_id").select2({
      theme: "bootstrap"
    });
  });
</script>
