<div class="content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="box box-solid">
          <div class="box-header">
            <h4 class="title condensed-text"> REFUND DETAILS </h4>
          </div>
        <div class="box-body">
          <%= simple_form_for @refund, url: :computer_repair_section_work_order_refunds do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :amount %>
            <%= f.input :description %>
            <%= f.input :employee_id, input_html: { value: current_user.id } %>
            <%= f.input :work_order_id, input_html: { value: @work_order.id } %>

            <div class="box-footer">
              <%= f.submit "Save Refund", class: "btn btn-primary pull-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
