<div class="sidebar" data-background-color="white" data-active-color="danger">
  <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    RBG STORE
                </a>
            </div>

            <ul class="nav">
                <li class="<%='active' if current_page?(store_index_path) %>">
                    <a href="/store">
                        <i class="icon-home"></i>
                        <p>Store</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(customers_path) %>">
                    <a href="/customers">
                        <i class="icon-people"></i>
                        <p>Customers</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(products_path) %>">
                    <a href="/products">
                        <i class="icon-tag"></i>
                        <p>Products</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(stocks_path) %>">
                    <a href="/stocks">
                        <i class="icon-layers"></i>
                        <p>Stocks</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(orders_path) %>">
                    <a href="/orders">
                        <i class="icon-basket-loaded"></i>
                        <p>Orders </p>
                    </a>
                </li>
                 <li>
                    <a href="/sales_returns">
                        <i class="icon-action-redo"></i>
                        <p>Sales Returns</p>
                    </a>
                </li>
                <li>
                    <a href="/warranties">
                        <i class="icon-exclamation"></i>
                        <p>Warranties</p>
                    </a>
                </li>
               
            </ul>
    	</div>
    </div>