<div class="sidebar" data-background-color="white" data-active-color="success">
  <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    RBG STORE
                </a>
            </div>

            <ul class="nav">
                <li class="<%='active' if current_page?(store_index_path) %>">
                    <a href="/store">
                        <i class="icon-home"></i>
                        <p>Store</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(customers_path) %>">
                    <a href="/customers">
                        <i class="icon-people"></i>
                        <p>Customers</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(products_path) %>">
                    <a href="/products">
                        <i class="icon-tag"></i>
                        <p>Products</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(stocks_path) %>">
                    <a href="/stocks">
                        <i class="icon-layers"></i>
                        <p>Stocks</p>
                    </a>
                </li>
                 <li class="<%='active' if current_page?(suppliers_path) %>">
                    <a href="/suppliers">
                        <i class="icon-grid"></i>
                        <p>Suppliers</p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(orders_path) %>">
                    <a href="/orders">
                        <i class="icon-basket-loaded"></i>
                        <p>Sales </p>
                    </a>
                </li>
                <li class="<%='active' if current_page?(computer_repair_section_dashboard_index_path) %>">
                    <a href="/computer_repair_section/dashboard">
                        <i class="icon-grid"></i>
                        <p>Repair Section </p>
                    </a>
                </li>
                 <li>
                    <a href="/branches">
                        <i class="icon-grid"></i>
                        <p>Branches</p>
                    </a>
                </li>
                 <li>
                    <a href="/stock_transfers">
                        <i class="icon-folder"></i>
                        <p>Stock Transfers</p>
                    </a>
                </li>
                <li>
                    <a href="/reports">
                        <i class="icon-folder"></i>
                        <p>Reports</p>
                    </a>
                </li>
                <li>
                    <a href="/employees">
                        <i class="icon-chart"></i>
                        <p>Monitoring</p>
                    </a>
                </li>
                <li>
                    <a href="/employees/<%=current_user.id%>">
                        <i class="icon-user"></i>
                        <p>Account</p>
                    </a>
                </li>
                <hr>
                 <li>
                    <a href="/sales_returns">
                        <i class="icon-action-redo"></i>
                        <p>Sales Returns</p>
                    </a>
                </li>
                <li>
                    <a href="/warranties">
                        <i class="icon-exclamation"></i>
                        <p>Warranties</p>
                    </a>
                </li>
                 <li>
                    <a href="/settings">
                        <i class="icon-equalizer"></i>
                        <p>Settings</p>
                    </a>
                </li>
                 <li>
                    <a href="/accounting">
                        <i class="icon-graph"></i>
                        <p>Accounting</p>
                    </a>
                </li>
               
            </ul>
    	</div>
    </div>