

  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%=image_tag(current_user.avatar, class: 'img-circle') %>
      </div>
      <div class="info">
        <a href="/employees/<%=current_user.id%>" class="d-block"><%= current_user.first_name %></a>
        <small class="badge bg-dark"><%= current_user.role.titleize %></small>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <% if current_user.cash_on_hand_account.present? %>
      <%= link_to cash_account_path(current_user.cash_on_hand_account)  do %>
      <h4 class="subtitle-up"><b>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<%= number_to_currency current_user.cash_on_hand_account.balance %></b></h4>
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<small>CASH BALANCE</small>
      <% end %>
      <% end %>
      <hr>
      <li class="nav-item active">
        <a href="/insights" class="nav-link <%= 'active' if current_page? insights_path %>">
          <i class="nav-icon far fa-chart-bar"></i>
          <p>Insights</p>
        </a>
      </li>
        <li class="nav-item active">
          <a href="/store" class="nav-link <%= 'active' if current_page? store_index_path %>">
            <i class="nav-icon fa fa-home"></i>
            <p>Store</p>
          </a>
        </li>

        <li class="nav-item active">
          <a href="/dashboard" class="nav-link <%= 'active' if current_page? dashboard_index_path %>">
            <i class="nav-icon fa fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>


        <li class="nav-item has-treeview">

  <a href="#" class="nav-link">
         <i class="nav-icon fa fa-users"></i>
         <p>
           Sales Clerks
           <i class="right fa fa-angle-left"></i>
         </p>
       </a>
  <ul class="nav nav-treeview">
     <li class="nav-item">
        <a href="/sales_clerks" class="nav-link">
          <i class="nav-icon fa fa-user-circle"></i>
          <p>All Sales Clerks</p>
        </a>
      </li>
    <% current_business.employees.sales_clerk.each do |employee| %>
      <li class="nav-item">
        <a href="/admin/employees/<%=employee.id %>" class="nav-link">
          <i class="nav-icon fa fa-user-circle"></i>
          <p><%= employee.full_name %></p>
        </a>
      </li>
    <% end %>
       </ul>
       </li>
       <li class="nav-item has-treeview">

  <a href="#" class="nav-link">
         <i class="nav-icon fa fa-building"></i>
         <p>
           Store Fronts
           <i class="right fa fa-angle-left"></i>
         </p>
       </a>
  <ul class="nav nav-treeview">
    <% current_user.business.store_fronts.each do |store_front| %>
      <li class="nav-item">
        <a href="/store_front_module/store_fronts/<%=store_front.id %>" class="nav-link">
          <i class="nav-icon fa fa-circle"></i>
          <p><%= store_front.name %></p>
        </a>
      </li>
    <% end %>
       </ul>
       </li>

       <li class="nav-item has-treeview">

 <a href="#" class="nav-link">
        <i class="nav-icon fa fa-shopping-cart"></i>
        <p>
          Orders
          <i class="right fa fa-angle-left"></i>
        </p>
      </a>

       <ul class="nav nav-treeview">

         <li class="nav-item"><a href="/store_front_module/sales_orders" class="nav-link"><i class="nav-icon fa fa-circle"></i> Sales</a></li>
         <li class="nav-item"><a href="/store_front_module/purchase_orders" class="nav-link"><i class="nav-icon fa fa-circle"></i> Purchases</a></li>
         <li class="nav-item"><a href="/store_front_module/stock_transfers" class="nav-link"><i class="nav-icon fa fa-circle"></i> Stock Transfers</a></li>
         <li class="nav-item"><a href="/store_front_module/received_stock_transfers" class="nav-link"><i class="nav-icon fa fa-circle"></i>Received Stock Transfers</a></li>
         <li class="nav-item"><a href="/store_front_module/sales_returns" class="nav-link"><i class="nav-icon fa fa-circle"></i>Sales Returns</a></li>
         <li class="nav-item"><a href="/store_front_module/purchase_returns" class="nav-link"><i class="nav-icon fa fa-circle"></i>Purchase Returns</a></li>
         <li class="nav-item"><a href="/store_front_module/internal_use_orders" class="nav-link"><i class="nav-icon fa fa-circle"></i>Internal Use</a></li>
         <li class="nav-item"><a href="/store_front_module/spoilages" class="nav-link"><i class="nav-icon fa fa-circle"></i>Spoilages</a></li>



            </ul>
          </li>


          <li class="nav-item active">
            <a href="/repair_services_module/service_payments" class="nav-link <%= 'active' if current_page? repair_services_module_service_payments_path %>">
              <i class="nav-icon fa fa-money-check"></i>
              <p>Service Payments</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/customers" class="nav-link <%= 'active' if current_page? customers_path %>">
              <i class="nav-icon fa fa-users"></i>
              <p>Customers</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/products" class="nav-link <%= 'active' if current_page? products_path %>">
              <i class="nav-icon fa fa-tags"></i>
              <p>Products</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/inventories" class="nav-link <%= 'active' if current_page? inventories_path %>">
              <i class="nav-icon fa fa-cubes"></i>
              <p>Inventories</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/suppliers" class="nav-link <%= 'active' if current_page? suppliers_path %>">
              <i class="nav-icon fa fa-users"></i>
              <p>Suppliers</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/vouchers" class="nav-link <%= 'active' if current_page? vouchers_path %>">
              <i class="nav-icon fa fa-sticky-note"></i>
              <p>Vouchers</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/computer_repair_section/dashboard" class="nav-link <%= 'active' if current_page? computer_repair_section_dashboard_index_path %>">
              <i class="nav-icon fa fa-th"></i>
              <p>Repairs</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/charge_invoices" class="nav-link <%= 'active' if current_page? charge_invoices_path %>">
              <i class="nav-icon fa fa-file"></i>
              <p>Charge Invoices</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/reports" class="nav-link <%= 'active' if current_page? reports_path %>">
              <i class="nav-icon fa fa-folder"></i>
              <p>Reports</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/settings" class="nav-link <%= 'active' if current_page? settings_path %>">
              <i class="nav-icon fa fa-sliders-h"></i>
              <p>Settings</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/accounting" class="nav-link <%= 'active' if current_page? accounting_index_path %>">
              <i class="nav-icon fa fa-coins"></i>
              <p>Accounting</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/accounting/finances" class="nav-link <%= 'active' if current_page? accounting_finances_path %>">
              <i class="nav-icon fa fa-coins"></i>
              <p>Finances</p>
            </a>
          </li>

          <li class="nav-item active">
            <a href="/employees" class="nav-link <%= 'active' if current_page? employees_path %>">
              <i class="nav-icon fa fa-users"></i>
              <p>Employees</p>
            </a>
          </li>






        </ul>
      </nav>
      </div>
