<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%=link_to(image_tag(current_user.avatar.url(:medium), class: "img-circle", width: 40, height: 40), employee_path(current_user)) %>
        </div>
        <div class="pull-left info">
          <p><%=link_to current_user.first_name, employee_path(current_user) %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> <small><%=current_user.role.titleize %></small></a>
        </div>
      </div>
      <!-- search form -->
      <%=form_tag search_results_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:sidebar_search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="header"> STORE FRONT </li>
          <!-- <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li> -->
          <li class=<%= 'active' if current_page?(store_index_path) %> ><a href="/store"><i class="fa fa-home"></i> <span>Store</span></a></li>
         <li class="treeview">
            <a href="#">
              <i class="fa fa-server"></i> <span>Orders</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/store_front_module/sales_orders"><i class="fa fa-circle-o"></i> Sales</a></li>
              <li><a href="/store_front_module/repair_services_orders"><i class="fa fa-circle-o"></i>Service Repair Orders</a></li>
              <li><a href="/store_front_module/purchase_orders"><i class="fa fa-circle-o"></i> Purchases</a></li>
              <li><a href="/store_front_module/stock_transfers"><i class="fa fa-circle-o"></i> Stock Transfers</a></li>
              <li><a href="/store_front_module/sales_returns"><i class="fa fa-circle-o"></i> Sales Returns</a></li>
              <li><a href="/store_front_module/purchase_returns"><i class="fa fa-circle-o"></i> Purchase Returns</a></li>
              <li><a href="/store_front_module/internal_use_orders"><i class="fa fa-circle-o"></i> Internal Use</a></li>

            </ul>
          </li>
          <li class=<%= 'active' if current_page?(repair_services_module_service_payments_path) %> ><a href="/repair_services_module/service_payments"><i class="fa fa-money"></i> <span>Service Payments</span></a></li>


          <li class=<%= 'active' if current_page?(customers_path) %> ><a href="/customers"><i class="fa fa-users"></i> <span>Customers</span></a></li>
          <li class=<%= 'active' if current_page?(products_path) %> ><a href="/products"><i class="fa fa-cubes"></i> <span>Products</span></a></li>

           <li class=<%= 'active' if current_page?(suppliers_path) %> ><a href="/suppliers"><i class="icon-people"></i> <span> &nbsp; Suppliers</span></a></li>
          <li class=<%= 'active' if current_page?(vouchers_path) %> ><a href="/vouchers"><i class="fa fa-folder"></i> <span> Vouchers</span></a></li>


          <li class=<%= 'active' if current_page?(computer_repair_section_dashboard_index_path) %> ><a href="/computer_repair_section/dashboard"><i class="icon-grid"></i> <span> &nbsp; Repairs</span></a></li>
          <li class=<%= 'active' if current_page?(charge_invoices_path) %> ><a href="/charge_invoices"><i class="fa fa-book"></i> <span> &nbsp; Charge Invoices</span></a></li>

          <li><a href="/reports"><i class="fa fa-circle-o"></i> <span> &nbsp; Reports</span></a></li>
          <li><a href="/employees"><i class="fa fa-eye"></i> <span> Monitoring</span></a></li>
          <li><a href="/settings"><i class="fa fa-sliders"></i> <span> Settings</span></a></li>
          <li><a href="/accounting"><i class="fa fa-bar-chart"></i> <span> Accounting</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
