<!DOCTYPE html>
<html>
  <head>
    <title>RbgPos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <title><%= full_title(yield(:title)) %></title>
</head>
 <body class="hold-transition skin-black-light sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <% if current_user.proprietor? %>
      <%=render 'layouts/sidebar' %>
    <% elsif current_user.stock_custodian? %>
      <%=render 'layouts/stock_custodian_sidebar' %>
    <% elsif current_user.sales_clerk? %>
      <%=render 'layouts/sales_clerk_sidebar' %>
     <% elsif current_user.technician? %>
      <%=render 'layouts/technician_sidebar' %>
    <% end %>
    <div class="content-wrapper">
      <section class="content">
        <%=render "layouts/flash" %>
        <%= yield %>
      </section>
    </div>
        <%=render 'layouts/footer' %>

  </body>

</html>
