<!DOCTYPE html>
<html>
  <head>
    <title>RBG POS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <title><%= full_title(yield(:title)) %></title>
</head>
 <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <aside class="main-sidebar sidebar-collapse sidebar-light-primary elevation-6">
        <%= render 'layouts/brand' %>
        <% if current_user.proprietor? %>
          <%=render 'layouts/sidebar' %>
        <% elsif current_user.stock_custodian? %>
          <%=render 'layouts/stock_custodian_sidebar' %>
        <% elsif current_user.sales_clerk? %>
          <%=render 'layouts/sales_clerk_sidebar' %>
         <% elsif current_user.technician? %>
          <%=render 'layouts/technician_sidebar' %>
        <% end %>
      </aside>
      <div class="content-wrapper">
        <div class="content">
          <div class="content-header">
          </div>
          <div class="container-fluid">
            <%=render "layouts/flash" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <footer class="main-footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-block-down">
        RBG POS
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2019 <a href="http://rbgtech.online">RBG Computers, Cellshop and Enterprises.</a>.</strong> All rights reserved.
      <%#= image_tag "easy_reg_logo.png", width: 60, height: 60, class: 'brand-image float-right' %><br>
    </footer>
  </body>
</html>
